.certificaciones__wrap
	.certificaciones__card
		padding: 0
		.title__general__wrap
			margin-bottom: 50px

.certificaciones__card__item
	margin-bottom: 80px

.certificaciones__bottom__container
	max-width: 1100px
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	text-align: center

.certificaciones__items
	display: flex
	justify-content: space-between
	flex-wrap: wrap 

.certificaciones__item
	.card__blog .card__blog--content
		width: 100% 

.certificaciones__item--one
	width: 60%

.certificaciones__item--two
	width: 35%

.certificaciones__button
	text-align: center
	.btn
		background: $blanco 
		color: $c-0 !important

.certificaciones__bottom__title
	margin-bottom: 40px
