.slider__carrousel__item__slider
	padding-bottom: 75px	

.slider__carrousel__item__container
	max-width: 1280px
	margin: auto	
	padding: 0 20px
	box-sizing: border-box
	text-align: center

.slider__carrousel__item__title
	max-width: 540px
	margin: auto	
	margin-bottom: 60px	
		
.slider__carrousel__item__slide
	overflow: hidden
	width: 100%
	position: relative
	.slick-slider
		padding: 0 80px
		box-sizing: border-box	
	.slick-list
		overflow: hidden			
	.slick-dots
		margin-top: 50px
		li 
			display: inline-block
			text-align: center
			margin: 0 5px 
			&:hover 
				button
					background: $c-1
					border: 1px solid $c-1
			&.slick-active
				button
					background: $c-1
					border: 1px solid $c-1
		button
			display: block
			background: none 
			border: none
			padding: 0	
			margin: 0	
			width: 12px
			height: 12px
			border: 1px solid $c-1
			border-radius: 100%
			box-sizing: border-box
			font-size: 0
			cursor: pointer
			transition: all .2s linear
	
.slider__carrousel__list__items
	font-size: 0	

.slider__carrousel__item
	display: inline-block
	width: 31.3%
	padding: 5px
	margin: 0 1%
	box-sizing: border-box
	.pmd-card
		margin-bottom: 0	

.tab__carrousel__item__arrow__personalized_wrap
	display: none

.tab__carrousel__item__arrow__personalized_next, .tab__carrousel__item__arrow__personalized_prev
	top: 50%
	position: absolute	
	margin-top: -23px	
	z-index: 50

.tab__carrousel__item__arrow__personalized_next
	left: 0

.tab__carrousel__item__arrow__personalized_prev
	right: 0	

.slider__carrousel__item__slider.slider__carrousel__item--active
	.slider__carrousel__item
		margin: 0 10px
	.tab__carrousel__item__arrow__personalized_wrap
		display: block


@media screen and (max-width: 1024px)
	.slider__carrousel__item__slider
		padding-bottom: 50px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 30px

	.slider__carrousel__item__title
		margin-bottom: 50px	

@media screen and (max-width: 767px)
	.slider__carrousel__item__container
		padding: 0 15px

	.slider__carrousel__item__slider
		padding-bottom: 40px

	.slider__carrousel__item__title
		margin-bottom: 40px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 30px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 20px

@media screen and (max-width: 480px)
	.slider__carrousel__item__slide
		.slick-slider
			padding: 0 

	.tab__carrousel__item__arrow__personalized_wrap
		display: none

	.slider__carrousel__item__slider.slider__carrousel__item--active .tab__carrousel__item__arrow__personalized_wrap
		display: none

// home equipo block2

.home__equipo__block2__container
	max-width: 1140px
	margin: auto	
	padding: 0 20px 
	box-sizing: border-box	
	display: flex
	align-items: center
	flex-wrap: wrap	

.home__equipo__block2__items
	font-size: 0		

.home__equipo__block2__item
	width: 48%	
	margin: 0 1%
	display: inline-block	
	vertical-align: top	
	.card__equipo
		width: 100%	
	.card__equipo .card__equipo--content
		width: 100%	

.home__equipo__block2__left
	width: 345px
	display: inline-block	
	vertical-align: middle	

.home__equipo__block2__right
	width: calc(100% - 345px)
	display: inline-block	
	vertical-align: middle
	padding-left: 15%
	box-sizing: border-box	

.home__equipo__block2.slider__carrousel__item--active
	.home__equipo__block2__item
		margin: 0 10px

.tab__carrousel__arrow__personalized_wrap
	text-align: center
	margin-top: 25px				

.tab__team__item__arrow__personalized_prev, .tab__team__item__arrow__personalized_next
	display: inline-block
	margin: 0 5px 

.tab__carrousel__arrow__personalized_wrap
	display: none

.home__equipo__block2__left
	.title__general__text
		margin-top: 20px
		p 
			line-height: 1.6

.title__general__button
	margin-top: 50px

@media screen and (max-width: 960px)
	.home__equipo__block2__left
		width: 100%	
		padding-left: 0	

	.home__equipo__block2__right 
		width: 100%	
		padding-left: 0	

	.title__general__wrap.title__general--left
		text-align: center

	.home__equipo__block2__right
		margin-top: 40px

@media screen and (max-width: 767px)
	.home__equipo__block2__left
		.title__general__button
			display: none

	.tab__carrousel__arrow__personalized_wrap
		display: block

	.home__equipo__block2 
		padding-bottom: 40px

	.home__equipo__block2__container
		padding: 0 15px

	.home__equipo__block2__right
		text-align: center
		.title__general__button
			margin-top: 0
		
