.mapa__container
	position: relative
#mapa__container__view
	height: 590px
	width: 100%
.mapa_container__info
	width: 409px
	height: 389px
	position: absolute
	top: 0
	right: 20%
	bottom: 0
	margin: auto
// no borrrar esto
.card__mapa
	img
		width: 100%
		height: auto

	margin: auto
@media screen and (max-width: 570px)
	.mapa_container__info
		position: initial
		width: 100%
	.mapa
		.card__mapa--content
			width: 100%