.solicita__wrap
	padding-top: 57px	
	padding-bottom: 70px	

.solicita__container
	max-width: 1140px
	margin: auto	
	padding: 0 20px 
	box-sizing: border-box	
	font-size: 0
	display: flex
	flex-wrap: wrap

.solicita__left
	width: 262px	
	display: inline-block	
	vertical-align: top	

.solicita__left__item
	margin-bottom: 50px	
	&:last-child
		margin-bottom: 0	

.solicita__left__icon
	display: block	
	font-size: 25px	
	color: $c-2

.solicita__left__text
	display: block	
	margin-bottom: 8px	
	font-size: 20px
	line-height: 1.2	
	color: $c-2

.solicita__left__link
	color: $c-1
	display: inline-block	
	position: relative
	padding-right: 30px	
	font-size: 20px		
	&:before
		content: "\e909"
		font-family: 'icomoon'
		position: absolute	
		top: 10px	
		right: 0
		font-size: 20px	
		color: $c-1	
		line-height: 0.5
		transition: all .25s ease-in-out
	&:hover
		color: $c-1
		&:before
			right: -5px	

.solicita__right
	width: calc(100% - 262px)
	background: $blanco
	padding: 60px 
	box-sizing: border-box	
	margin-top: -70px	
	li 
		display: flex
		justify-content: space-between
		flex-wrap: wrap	
	.general__input
		display: inline-block	
		margin-bottom: 20px
		width: 48%	

.solicita__form__title
	margin-bottom: 45px	
	h3
		font-size: 27px	
		font-family: $t-1 
		color: $c-0
	
.solicita__foot
	margin-top: 10px
	font-size: 11px
	color: #757575
	font-family: $t-0
	p 
		margin: 0

.solicita__button
	text-align: right
	margin-top: 40px 

@media screen and (max-width: 1024px)		
	.solicita__wrap
		padding: 50px 0

@media screen and (max-width: 960px)
	.solicita__left
		width: 100%	

	.solicita__right
		width: 100%	
		margin: 0
		margin-top: 30px		

@media screen and (max-width: 767px)
	.solicita__container
		padding: 0 15px 

	.solicita__wrap
		padding: 40px 0

	.solicita__right
		.general__input
			display: inline-block	
			margin-bottom: 20px
			width: 100%	

	.solicita__right
		padding: 30px 

	.solicita__left__text
		font-size: 17px	

	.solicita__left__link
		font-size: 17px

	.solicita__left__item	
		margin-bottom: 40px	





	