.footer__wrap
	max-width: 1200px
	margin: auto
	display: flex
	width: 100%
	padding-top: 40px
	align-items: flex-start
	flex-direction: row
	margin: auto
.footer__imagen
	width: 132px
	img
		max-width: 100%
		height: auto
.footer_content
	background-color: white
.footer_menu
	width: 65%
	li a
		color: #808090
		font-size: 13px 
		transition: all .2s linear
		&:hover
			color: rgba(128, 128, 144, 0.80)


.footer_menu
	display: flex
	margin-left: 0
	margin: 0
	li
		margin-left: 12px
		margin-right: 2px

.footer__iconos
	color: #666666
	display: flex
	width: 10%
	margin-left: 15%

.footer__item-icono
	a
		color: #808090
		transition: all .2s linear
		&:hover
			color: rgba(128, 128, 144, 0.80)

.footer__wrap
	border-top: 1px solid #d7d8db
.footer__menu-creditos
	color: #808090
	display: flex
	width: 100%
.footer_creditos
	border: none

.footer__menu--items
	width: 100%
	font-size: 12px
	margin-top: 20px
	&:last-child
		text-align: right

.footer__menu--items
	a
		color: #808090
		transition: all .2s linear
.footer_creditos
	width: 100%
.footer_creditos
	padding-top: 23px
	padding-bottom: 30px
@media screen and (max-width: 960px)
	.footer__wrap
		flex-direction: column
	.footer__imagen
		width: 150px
		text-align: center
		margin: 0 auto
	.footer_menu
		width: 100%
		margin: inherit
		padding-top: 30px
		li
			margin-left: initial
			margin-right: inherit
	.footer__iconos
		width: 20%
		margin: inherit
		margin-top: 30px
		display: none


@media screen and (max-width: 768px)
	.footer_items
		display: none
	.footer__menu-creditos
		flex-direction: column
		text-align center
	.footer__iconos
		margin-top: 0
	.footer__menu--items
		text-align: center
		&:last-child
			text-align: center
	.footer_creditos
		padding-top: 3px
@media screen and (max-width: 480px)
	.footer__iconos
		display: none

