// header bodyclass

// body class para el header cuando ocupa su espacio --> para error - enviado

.header__wrap--style2
	.header__right__content__button
		opacity: 1
		visibility: visible
		transform: scale(1)
		.header__right--button
			background: $blanco
			color: $c-0
	.header__fixed.scrolling
		.header__right__content__button
			.header__right--button
				background: $c-1
				color: $blanco

@media screen and (max-width: 767px)	
	.header__wrap--style2
		.header__right__content__button
			opacity: 0
			visibility: hidden

	.header__fixed.scrolling
		.header__right__content__button
			opacity: 1
			visibility: visible

.header__wrap--relative
	.header__wrap
		position: relative
		height: 80px
	.header__fixed__bg
		top: 0
	.header__logo 
		.header__logo__white
			opacity: 0
			visibility: hidden
		.header__logo__color
			opacity: 1
			visibility: visible
	.header__right__content__button
		opacity: 1
		visibility: visible
		transform: scale(1)

@media screen and (max-width: 767px)
	.header__wrap--relative
		.header__logo 
			.header__logo__color
				opacity: 0
				visibility: hidden
			.header__logo__responsive2
				opacity: 1
				visibility: visible

	.header__wrap--relative .header__wrap
		height: 60px

//body para el icono verde
.header__wrap--icon--verde
	.header__right__content__icon
		.button__icon
			background: $c-3
			i 
				color: $blanco



.header__fixed
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: transparent

.header__fixed__bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	top: -100%
	transition: all .2s linear
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.01)

// add class style for scrolling 
.header__fixed.scrolling
	.header__fixed__bg 
		top: 0
	.header__logo
		.header__logo__white
			opacity: 0
			visibility: hidden
		.header__logo__color
			opacity: 1
			visibility: visible	
	.header__right__content__button
		transition: all .2s ease-in-out .1s
		opacity: 1
		visibility: visible
		transform: scale(1)
	.header__right__content__icon
		.button__icon
			background: $c-3
			i 
				color: $blanco

.header__container
	max-width: 1240px
	width: 100%
	height: 100%
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	position: relative
	display: flex
	align-items: center
	justify-content: flex-end

/**** Header Left ***/

// header - right logo
.header__logo
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 20px
	max-width: 211px
	.header__logo__white
		transition: all .2s linear
	.header__logo__color
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		transition: all .2s linear
	.header__logo__responsive2
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		transition: all .2s linear
	img 
		display: block
		width: 100%
		height: auto

/**** Header right ***/
.header__right__content
	display: flex
	align-items: center

// header - right button
.header__right__content__button
	opacity: 0
	visibility: hidden
	transform: scale(.95)
	margin-right: 15px
	.header__right--button
		background: $c-1
		color: $blanco
	
.header__right__content__icon
	.button__icon
		background: $blanco
		i 
			color: $c-0

//menu sidebar
.header__sidebar__wrap
	position: relative
	&:before
		content: ""
		display: block
		position: absolute
		top: 0
		left: 100%
		width: 100%
		height: 100%
		background: $blanco
		z-index: 1

.header__sidebar
	position: fixed
	top: 0
	right: 0
	width: 485px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 2000
	transform: translate3d(100%, 0, 0)
	transition: transform 0.8s cubic-bezier(0.22, 1.32, 0.47, 0.96)
	padding: 60px 20px 50px 70px
	box-sizing: border-box


body.active 
	overflow: hidden
	
.header__sidebar.active
	transform: translate3d(0, 0, 0)

.header__sidebar__overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header__sidebar__overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.header__sidebar__container
	position: relative

.header__sidebar__logo
	width: 50px
	height: 50px
	display: inline-block
	
.header__sidebar__icon__close
	position: absolute
	top: 0
	right: 0
	font-size: 40px
	cursor: pointer 
	transition: 1.2s cubic-bezier(0.22, 1.32, 0.47, 0.96)

//icon close hover
@media screen and (min-width: 1025px)
	.header__sidebar__icon__close:hover 
		transform: rotate(180deg)

///////////////////menu list
.header__sidebar__menu__list
	margin-top: 15%

.header__sidebar__menu__list__item
	margin-bottom: 10px
	&:last-child 
		margin-bottom: 0

.header__sidebar__menu__list__link
	font-size: 35px
	color: $c-0
	transition: all .2s linear

//menu list active
.header__sidebar__menu__list__link.active
	color: $c-1

//menu list hover
@media screen and (min-width: 1025px)
	.header__sidebar__menu__list__link:hover
		color: $c-1

.header__sidebar__menu__countries__item
	margin-bottom: 5px

///////////////////menu countries
.header__sidebar__menu__countries
	margin-top: 10%

.header__sidebar__menu__countries__link
	font-size: 24px
	color: $c-2
	transition: all .2s linear

//menu countries active
.header__sidebar__menu__countries__link.active
	color: $c-0

//menu countries hover
@media screen and (min-width: 1025px)
	.header__sidebar__menu__countries__link:hover
		color: $c-0

@media screen and (max-width: 1200px)
	.header__sidebar__menu__list__link
		font-size: 30px

	.header__sidebar__menu__countries__link
		font-size: 20px

@media screen and (max-width: 767px)
	.header__sidebar__menu__list__link
		font-size: 25px

	.header__sidebar__menu__countries__link
		font-size: 18px
	
	.header__fixed
		height: 60px

	.header__logo
		left: 15px
		max-width: 150px

	.header__right__content__icon
		.pmd-btn-fab
			width: 42px
			height: 42px
			min-width: 42px
		.btn.pmd-btn-fab i, .btn.pmd-btn-fab span
			line-height: 43px 

	.header__right__content__button
		.button__icon--blanco
			height: 35px
			font-size: 13px
			padding: 10px 50px 10px 25px

	.header__container
		padding: 0 15px 

	.header__sidebar
		width: 100%
		padding: 35px 
		
	.header__logo__responsive2
		width: 40px !important
		height: 40px !important

	.header__fixed.scrolling
		.header__logo .header__logo__color
			opacity: 0
			visibility: hidden
		.header__logo .header__logo__responsive2
			opacity: 1
			visibility: visible


@media screen and (max-width: 481px)
	.header__right__content__button 
		.button__icon--blanco
			padding: 10px 20px 10px 20px
			&:before
				display: none