section.block__chips
	.block__chips__content
		.block__chips__icono_phone.icon-phone
		.block__chips__title
			h2 ¿Estás listo <br>para empezar?
		.block__chips__items
			- for (var i = 1; i <= 5; i++)
				.block__chips__item.g__chips__item
					a(href="tel:56226170490").g-chips__link
						.g__chips__content
							figure.g__chips__img
								img(src=`../${STATIC_URL}img/g__chips__img__${i}.png`, width="30", height="30", alt="g__chips__" +i, title="g__chips__" +i)
							span.g__chips__text +56-2-2617-0490