footer.footer(role='contentinfo')
    .footer_content
        .footer__wrap
            .footer__imagen
                img(src=`${STATIC_URL}img/logo_norte_digital.png` width="132" height="28" alt="Norte Digital" class='img-fluid')
            ul.footer_menu.footer_items
                li.footer__item 
                    a(href="nosotros.html") ¿Quiénes somos?
                li.footer__item 
                    a(href="tiendas.html") Servicios
                li.footer__item 
                    a(href="terminos-condiciones.html") Blog
                li.footer__item 
                    a(href="cuenta.html") Trabaja con Nosotros
                li.footer__item 
                    a(href="") Trabaja con nosotros
                li.footer__item 
                    a(href="contacto.html") Soporte
            ul.footer__iconos
                li.footer__item-icono
                    a(href="").icon-youtube
                li.footer__item-icono
                    a(href="").icon-facebook
                li.footer__item-icono
                    a(href="").icon-twitter
        .footer__wrap.footer_creditos
            ul.footer__menu-creditos
                li.footer__menu--items © 2017 Norte Di gital. All Rights Reserved
                li.footer__menu--items Diseño Web por 
                    a(href="") NorteDigital
