header.header__wrap
	.header__fixed
		.header__fixed__bg
		.header__container
			a(href="home.html").header__logo
				img.header__logo__white(src=`${STATIC_URL}img/header-logo-white.svg`, alt="")
				img.header__logo__color(src=`${STATIC_URL}img/header-logo.svg`, alt="")
				img.header__logo__responsive2(src=`${STATIC_URL}img/header-logo-responsive-scroll.svg`, alt="")
			.header__right__content
				.header__right__content__button
					a.button__icon--blanco.btn.header__right--button( href='#') inicia tu campaña
				.header__right__content__icon.header__sidebar--open
					a.button__icon.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary(href='#')
						i.icon-menu.pmd-sm


.header__sidebar__overlay
.header__sidebar
	.header__sidebar__container
		.header__sidebar__icon__close.header__sidebar--close.icon-close
		a(href="home.html").header__sidebar__logo
			img(src=`${STATIC_URL}img/header-logo-responsive.svg`, alt="")
		.header__sidebar__menu__list
			ul
				li.header__sidebar__menu__list__item
					a.header__sidebar__menu__list__link(href="nosotros.html") Nosotros
				li.header__sidebar__menu__list__item
					a.header__sidebar__menu__list__link(href="servicio-1.html") Servicios
				li.header__sidebar__menu__list__item
					a.header__sidebar__menu__list__link(href="blog.html") Blog
				li.header__sidebar__menu__list__item
					a.header__sidebar__menu__list__link(href="trabaja.html") Postula
				li.header__sidebar__menu__list__item
					a.header__sidebar__menu__list__link(href="comunicate.html") Soporte
		.header__sidebar__menu__countries
			ul
				li.header__sidebar__menu__countries__item
					a.header__sidebar__menu__countries__link(href="") Argentina
				li.header__sidebar__menu__countries__item
					a.header__sidebar__menu__countries__link(href="") Chile
				li.header__sidebar__menu__countries__item
					a.header__sidebar__menu__countries__link(href="") Colombia
				li.header__sidebar__menu__countries__item
					a.header__sidebar__menu__countries__link(href="") México
				li.header__sidebar__menu__countries__item
					a.header__sidebar__menu__countries__link(href="") Perú
