extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header__wrap--icon--verde header__wrap--style2'
//- ---

//- Contenido
block content
	section.blog__detail__banner__wrap
		.blog__detail__banner__container
			.blog__detail__banner__title
				h2 Por qué tu sitio web debe ser absolutamente, positivamente, explícitamente móvil responsivo
			.blog__detail__banner__social
				ul
					li
						a(href="").icon-email
					li
						a(href="").icon-google
					li
						a(href="").icon-linkedin
					li
						a(href="").icon-twitter
					li
						a(href="").icon-facebook

	section.blog__detail__content__wrap
		.blog__detail__content__container
			.blog__detail__content__left
				.blog__detail__content__content
					p  Si un millón de árboles se desplomara en el bosque y nadie los escuchara, ¿habrían hecho ruido? Del mismo modo, ¿qué sucedería con un alcance de un millón de impresiones ignoradas por el público? Para los anunciantes resulta de suma importancia asegurar que su publicidad en video no sólo llegue a la audiencia, sino que logre captar su atención a escala. Hoy, tengo el agrado de presentar los resultados de nuevos estudios y reportes con miras a lograr precisamente eso.

					p  Sin embargo, la mera exposición no es suficiente. Con miras a conseguir un impacto real, los anuncios deben captar la atención del público. Y para maximizar este efecto, primero debes tener claridad si tu público vio, escuchó y le dedicó tiempo a tu aviso.

					p A nivel global, la visibilidad de YouTube aumentó desde un 91% en 2015 a un 93% en 20161. En la misma línea, considerando el ecosistema web en general y el sistema de aplicaciones, la visibilidad de los videos creció desde un 54% en 2015 a un 66% en 20162, mientras un 95% de los usuarios reconoce también escuchar la publicidad en YouTube3. Si bien tanto visibilidad como audibilidad son importantes de forma individual, juntas constituyen un “paquete” mucho más poderoso. Tras analizar los datos de más de mil anuncios en YouTube, observamos que los usuarios que los miran y escuchan experimentan niveles superiores de reconocimiento, recordación y consideración de marca que aquéllos que sólo hacen una cosa o la otra.
					
					img(src=`${STATIC_URL}img/blog-detail-img.jpg`, alt="")
					p  Lograr resultados de negocio en el contexto de medios actual implica poner el acento en la atención. En YouTube, los anunciantes pueden aprovechar la poderosa combinación entre lo visual y lo auditivo, escalando su impacto a más de un billón de usuarios, con la claridad de saber a cuántos usuarios están llegando a través de las diferentes pantallas y cuánto tiempo dedican a ver sus anuncios en cada una.

					p  Para obtener más información sobre el tiempo de reproducción en campañas de video, consulta este informe. Revisa otros artículos relacionados con medición en YouTube disponibles en el Centro de Ayuda de AdWords. 
				.blog__detail__left__charge__wrap
					.blog__detail__left__charge__left
						span.blog__detail__left__date Abril 21, 2017
						.blog__detail__left__name 
							h3 Alberto Quiroga
						span.blog__detail__left__charge Gerente General
					.blog__detail__left__charge__right
						.blog__detail__left__charge__image
							img(src=`${STATIC_URL}img/blog-detail-charge.jpg`, alt="")


			.blog__detail__content__right#stycky__example__left--js
				.blog__detail__content__right__form__wrap
					.blog__detail__content__right__title
						h3 Que tus campañas tengan los mejores resultados
					.blog__detail__content__right__form
						ul
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Nombre  y Apellidos*
										input(type='text', class='validate[required]') 
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Teléfono*
										input(type='text', class='validate[required]') 
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Email*
										input(type='text', class='validate[required]') 
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Sitio Web
										input(type='text', class='validate[required]') 
						.blog__detail__right__foot
							p *campos obligatorios
						.blog__detail__right__button
							button.button__azul.btn.btn-default(href='#') Enviar
	section.blog__detail__related
		.blog__detail__related__container
			.blog__detail__related__title
				h3 Relacionados
			.blog__detail__related__items
				a(href="#").blog__detail__related__item
					.blog__detail__related__item__image(style=`background-image: url('${STATIC_URL}img/blog-detail-img.jpg');`)
					.blog__detail__related__item__info
						.blog__detail__related__info__title
							h4 10 tips que debes incluir ¡Ahora! en tu sitio web
						span.blog__detail__related__info__date Abril 21, 2017

				a(href="#").blog__detail__related__item
					.blog__detail__related__item__image(style=`background-image: url('${STATIC_URL}img/blog-detail-img.jpg');`)
					.blog__detail__related__item__info
						.blog__detail__related__info__title
							h4 10 tips que debes incluir ¡Ahora! en tu sitio web
						span.blog__detail__related__info__date Abril 21, 2017



//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.sticky-kit.min.js`)
	script.
		$(()=>{
			var window_width =  $(window).width();
			if (window_width < 1024) {
				$("#stycky__example__left--js").trigger("sticky_kit:detach");
			} else {
				make_sticky();
			}

			$(window).resize(function() {

				window_width =  $(window).width();

				if (window_width < 1024) {
					$("#stycky__example__left--js").trigger("sticky_kit:detach");
				} else {
					make_sticky();
				}

			});

			function make_sticky() {
				$("#stycky__example__left--js").stick_in_parent({
					offset_top: 130,
				});
			}

		})