extends ./_common/base.pug

block content
	div.blog
		div.blog__banner
			div.blog__banner__title
				div.banner__text.banner__title.title__general__wrap.title__general--left
					div.title__general__title
						h3 Brindamos productos que ayudan a tu empresa
		div.blog__content
				.blog__content__box
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_1.png`)
								div.card__blog--text.pmd-card-body
									p 10 Tips que debes incluir ¡ahora! en tu sitio web
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_2.png`)
								div.card__blog--text.pmd-card-body
									p 3 medidas para mejorar tus campañas de adwords
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_3.png`)
								div.card__blog--text.pmd-card-body
									p Por qué tu sitio web debe ser absolutamente, positivamente, explícitamente móvil responsivo

									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card.png`)
								div.card__blog--text.pmd-card-body
									p ¿Por qué todos los anuncios de texto se ven iguales?
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_5.png`)
								div.card__blog--text.pmd-card-body
									p 3 errores comunes que podrías cometer en campañas ppc
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_6.png`)
								div.card__blog--text.pmd-card-body
									p 3 medidas para mejorar tus campañas de adwords
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_7.png`)
								div.card__blog--text.pmd-card-body
									p Escépticos del sem: ¿eres uno de estos 6 tipos de personas?

									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_8.png`)
								div.card__blog--text.pmd-card-body
									p 4 Razones De Por Qué Las Empresas Deben Priorizar Sus Estrategias En Móviles
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017