extends ./_common/base.pug

//- css
append css

//- body classs
block vars
	- var bodyClass = 'header__wrap--icon--verde'
//- ---

//- Contenido
block content
	section.banner__contact__wrap
		.banner__contact__table
			.banner__contact__container
				.banner__contact__group__info
					.banner__contact__group__title
						h3 Comunicarse con ventas
					.banner__contact__group__text 
						p Llene el formulario y nos pondremos en contacto. O llámenos al:
					.banner__contact__group__tel
						span.banner__contact__group__tel__icon.icon-phone
						a(href="tel:56-2-2617-0490") +56-2-26170490
					.banner__contact__group__select
						span.banner__contact__group__select__icon.icon-navigate_next
						select.select-country#select-country(name='')
							option(value="+55-5-5555-5555", data-address="Lunes a Viernes, de 6:00 a 18:00 <br> (horario local CT)", selected='selected') Argentina
							option(value="+55-5-5555-5555", data-address="direccion Chile") Chile
							option(value="+25-5-5555-5555", data-address="direccion mexico") México
							option(value="+35-5-5555-5555", data-address="direccion peru") Perú
					.banner__contact__group__schedule
						p  Lunes a Viernes, de 6:00 a 18:00 

	section.general__contact__form__wrap
		.general__contact__form__container
			.general__contact__form__left
				.general__contact__form__left__info
					.general__contact__form__left__subtitle
						h4 ¿Ya es cliente?
					a(href="#").general__contact__form__left__link comuníquese con el equipo de soporte
			.general__contact__form__right
				.general__contact__form__subtitle
					h5 Completa tus datos y obten resultados
				.general__contact__column__item
					.general__contact__column__wrap
						.general__contact__column__one
							.general__contact__column__one__title
								span.general__contact__column__one__number 1
								.general__contact__column__one__inside__title
									h6 Su informacion
						.general__contact__column__two
							ul
								li
									.general__input
										.general__input__inside
											label.general__input__label__inside Nombre  y Apellidos*
											input(type='text', class='validate[required]')
								li
									.general__input
										.general__input__inside
											label.general__input__label__inside Teléfono*
											input(type='text', class='validate[required] soloNumber')
								li
									.general__input
										.general__input__inside
											label.general__input__label__inside Email*
											input(type='text', class='validate[required]')
				.general__contact__column__item.general__item--disabled
					.general__contact__column__wrap
						.general__contact__column__one
							.general__contact__column__one__title
								span.general__contact__column__one__number 2
								.general__contact__column__one__inside__title
									h6 Empresa
						.general__contact__column__two
							ul
								li
									.general__input
										.general__input__inside
											label.general__input__label__inside Sitio Web*
											input(type='text', class='validate[required]')
							.general__contact__column__two__foot
								p *campos obligatorios
							.general__contact__column__two__button
								button.button__azul.btn.btn-default(href='#') Enviar


//- js
append scripts 
	script.
		$(()=>{
			$( "#select-country" )
			.change(function (e) {
				let direction = $( "#select-country option:selected" ).data('address');
				let tel = $( "#select-country option:selected" ).val();
				$('.banner__contact__group__tel').find('a').text(tel);
				$('.banner__contact__group__schedule').find('p').html(direction);
			})
			.change();
			
			// form
			const validateImputs = () => {
				let inps = true;
				$('.general__contact__column__item').eq(0).find('input').each((e,k)=>{
					if(!$(k).val()){
						inps = false;
						return false
					}
				//- if($(k).val()){
				//- 	inps = true
				//- }else{
				//- 	return false;
				//- 	inps = false;
				//- }
			})
				return inps;
			}
			$('.general__contact__column__item').eq(0).find('input').each((e,k)=>{
				$(k).keyup((e)=>{
					if(validateImputs()){
						$('.general__contact__column__item').eq(1).removeClass('general__item--disabled')
					}else{
						$('.general__contact__column__item').eq(1).addClass('general__item--disabled')
					}
				})
			})
		})