extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header__wrap--relative header__wrap--icon--verde'
//- ---

//- Contenido
block content
	section.message__wrap
		.message__container
			.message__img
				img(src=`${STATIC_URL}img/error-img.png`, alt="")
			.message__text
				p Lo sentimos, la página que estás buscando no existe o cambio de dirección, puedes regresar al inicio. 
				br
				| ¡Gracias!
			.message__button
				a.button__azul.btn.btn-default(href='home.html') IR A PAGINA PRINCIPAL

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})