extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.slider__principal
		.slider__principal__bg__wrap
			.slider__principal__bg1
			.slider__principal__bg2
		ul.slider__principal__pitcher3
			-for (var i = 0; i < 3; i++)
				li
					.slider__principal__container
						.slider__principal__arrow--personalized
							.button__icon--flecha.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.slider__principal--arrow--prev
								i.icon-navigate_prev.pmd-sm
							.button__icon--flecha.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.slider__principal--arrow--next
								i.icon-navigate_next.pmd-sm
						.slider__principal__container_center
							.slider__principal__item
								.slider__principal__left
									.slider__principal__title
										h1  Acciones orientadas a resultados eficientes
									.slider__principal__text
										p  Postly turns your photos into real, beautiful postcards personalize your efr. 
									.slider__principal__button
										a.button__icon--blanco.btn( href='#') Empieza a vender
								.slider__principal_right
									.slider__principal__img
										img(src=`${STATIC_URL}img/item-general-img.png`, alt="")
	.home__wrap__blocks2
		.sede__nuestros__partners__wrap
			.home__partners

				.sede__nuestros__partners
					.sede__partners__title
						.title__general__wrap.title__general--left
							.title__general__title
								h3 Nuestros Partners
							.title__general__text
								p Trabajamos en una relación uno a uno con nuestros partners, teniendo acceso a capacitaciones, soporte y productos exclusivos.
					.partners__slider
						.home__partners__cards.sede__partners__cards
							div.partners__card.card__partner
								.card__partner__box.pmd-card.pmd-card-default.pmd-z-depth
									//- Card media
									.pmd-card-media.card__partner__img
										img.img-responsive(src=`${STATIC_URL}img/card-partner.png`, width='1184', height='666')
									//- Card body
									.pmd-card-title
										h2.pmd-card-title-text.card__partner__title Premiere Google Partner
									.pmd-card-body.card__partner__body
										| Tenemos alianza con mercado shops partner
									//- Card actions
									.pmd-card-actions
										a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') MÁS INFORMACIÓN
							div.partners__card.card__partner
								.card__partner__box.pmd-card.pmd-card-default.pmd-z-depth
									//- Card media
									.pmd-card-media.card__partner__img
										img.img-responsive(src=`${STATIC_URL}img/card-partner.png`, width='1184', height='666')
									//- Card body
									.pmd-card-title
										h2.pmd-card-title-text.card__partner__title Mercado Shops
									.pmd-card-body.card__partner__body
										| Tenemos alianza con mercado shops partner
									//- Card actions
									.pmd-card-actions
										a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') MÁS INFORMACIÓN

		.home__nosotros__wrap.home__nosotros--change
			.home__partners
				.home__nosotros
					.home__nosotros__text
						.title__general__wrap.title__general--left
							.title__general__title
								h3 Gestiona tus campañas con nosotros
							.title__general__text
								p  Toma decisiones empresariales más rápidas gracias a la información de los datos que brinda Google.
				.home__nosotros__img
					section.service__search
						.service__search__content
							.service__search__column.service__search__column--left
								.service__search__cellphone
									.service__search__slider
										ul.service__search__pitcher
											- for (var i = 1; i <= 2; i++)
												li.service__search__slider__item
													figure.service__search__slider__img(style=`background-image: url('${STATIC_URL}img/googleho.png')`)
		.home__nosotros__icons__wrap
			span.home_mask1
			.home__partners
				.home__nosotros__icons
					.box__icons
						.box__icons__img
							img(src=`${STATIC_URL}img/img_certificaciones_1x.png`)
						.box__icons__title
							h4 Red de Búsqueda
						.box__icons__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nibh, rhoncus ve.
						.box__icons__button
							a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Ver más
					.box__icons
							.box__icons__img
								img(src=`${STATIC_URL}img/img_certificaciones_2x.png`)
							.box__icons__title
								h4 Red de Display
							.box__icons__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nibh, rhoncus ve.
							.box__icons__button
								a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Ver más
					.box__icons
							.box__icons__img
								img(src=`${STATIC_URL}img/img_certificaciones_3x.png`)
							.box__icons__title
								h4 Youtube
							.box__icons__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nibh, rhoncus ve.
							.box__icons__button
								a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Ver más
					.box__icons
							.box__icons__img
								img(src=`${STATIC_URL}img/img_certificaciones_4x.png`)
							.box__icons__title
								h4 Facebook
							.box__icons__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nibh, rhoncus ve.
							.box__icons__button
								a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Ver más

	//- slider products
	section.slider__carrousel__item__slider
		.slider__carrousel__item__container
			.slider__carrousel__item__title__wrap
				.slider__carrousel__item__title
					.title__general__wrap.title__general--center
						.title__general__title
							h3 En Latinoamerica estamos más cerca de ti
			.slider__carrousel__item__slide
				.tab__carrousel__item__arrow__personalized_wrap.tab__carrousel--clone
					.tab__carrousel__item__arrow__personalized_prev
						.button__icon--flecha.btn.pmd-btn-fab.btn-primary(href='#')
							i.icon-navigate_prev.pmd-sm
					.tab__carrousel__item__arrow__personalized_next
						.button__icon--flecha.btn.pmd-btn-fab.btn-primary(href='#')
							i.icon-navigate_next.pmd-sm
				ul.slider__carrousel__list__items.slider__carrousel__item--js
					li.slider__carrousel__item
						div.card__mapa--content
							div.pmd-card.pmd-card-default.pmd-z-depth
								div.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/captura_mapa.png`)
								div.card__mapa--title.pmd-card-title
									h2.pmd-card-title-text Buenos Aires, Argentina
								div.card__mapa--text.pmd-card-body
									p Zona de Retiro, en la calle Esmeralda 950
									p Piso 16.
									div.media-left
										div.card__mapa--icons
											div.mapa--icon
												i.icon-phone
											div.mapa--icontext
												span +54 11 6070010
										div.card__mapa--icons
											div.mapa--icon
												i.icon-email
											div.mapa--icontext
												span contacto@norte.digital
								div.card__mapa--link.pmd-card-actions
									a.button__leer.btn.pmd-ripple-effect.btn-default(href='sede.html') Conoce la sede
					li.slider__carrousel__item
						div.card__mapa--content
							div.pmd-card.pmd-card-default.pmd-z-depth
								div.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/captura_mapa.png`)
								div.card__mapa--title.pmd-card-title
									h2.pmd-card-title-text Santiago, Chile
								div.card__mapa--text.pmd-card-body
									p Zona de Retiro, en la calle Esmeralda 950
									p Piso 16.
									div.media-left
										div.card__mapa--icons
											div.mapa--icon
												i.icon-phone
											div.mapa--icontext
												span +54 11 6070010
										div.card__mapa--icons
											div.mapa--icon
												i.icon-email
											div.mapa--icontext
												span contacto@norte.digital
								div.card__mapa--link.pmd-card-actions
									a.button__leer.btn.pmd-ripple-effect.btn-default(href='sede.html') Conoce la sede
					li.slider__carrousel__item
						div.card__mapa--content
							div.pmd-card.pmd-card-default.pmd-z-depth
								div.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/captura_mapa.png`)
								div.card__mapa--title.pmd-card-title
									h2.pmd-card-title-text Bogota, Colombia
								div.card__mapa--text.pmd-card-body
									p Zona de Retiro, en la calle Esmeralda 950
									p Piso 16.
									div.media-left
										div.card__mapa--icons
											div.mapa--icon
												i.icon-phone
											div.mapa--icontext
												span +54 11 6070010
										div.card__mapa--icons
											div.mapa--icon
												i.icon-email
											div.mapa--icontext
												span contacto@norte.digital
								div.card__mapa--link.pmd-card-actions
									a.button__leer.btn.pmd-ripple-effect.btn-default(href='sede.html') Conoce la sede
					li.slider__carrousel__item
						div.card__mapa--content
							div.pmd-card.pmd-card-default.pmd-z-depth
								div.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/captura_mapa.png`)
								div.card__mapa--title.pmd-card-title
									h2.pmd-card-title-text Lima, Perú
								div.card__mapa--text.pmd-card-body
									p Zona de Retiro, en la calle Esmeralda 950
									p Piso 16.
									div.media-left
										div.card__mapa--icons
											div.mapa--icon
												i.icon-phone
											div.mapa--icontext
												span +54 11 6070010
										div.card__mapa--icons
											div.mapa--icon
												i.icon-email
											div.mapa--icontext
												span contacto@norte.digital
								div.card__mapa--link.pmd-card-actions
									a.button__leer.btn.pmd-ripple-effect.btn-default(href='sede.html') Conoce la sede

	section.home__equipo__block2
		span.home_mask2
		.home__equipo__block2__container
			.home__equipo__block2__left
				.title__general__wrap.title__general--left
					.title__general__title
						h3 Equipo multidisciplinado brindandote
					.title__general__text
						p  Toma decisiones empresariales más rápidas gracias a la información de los datos que brinda Google.
					.title__general__button
						a.button__azul.btn.btn-default(href='#') CONOCE AL EQUIPO
					.tab__carrousel__arrow__personalized_wrap
						.tab__team__item__arrow__personalized_prev
							.button__icon--flecha.btn.pmd-btn-fab.btn-primary
								i.icon-navigate_prev.pmd-sm
						.tab__team__item__arrow__personalized_next
							.button__icon--flecha.btn.pmd-btn-fab.btn-primary
								i.icon-navigate_next.pmd-sm

			.home__equipo__block2__right
				.home__equipo__block2__items
					ul.slider__carrousel__team--js
						li.home__equipo__block2__item
							div.card__equipo
								div.card__equipo--content
									div.pmd-card.pmd-card-default.pmd-z-depth
										div.pmd-card-media
											img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_equipo_card.png`)
										div.card__equipo--title.pmd-card-title
											h2.pmd-card-title-text Alberto Quiroja
										div.card__equipo--text.pmd-card-body
											p LATAM
										div.card__equipo--links.pmd-card-actions
											a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
											a.card__equipo--icon(href="mailto:direccion@correo.com")
												i.icon-email
						li.home__equipo__block2__item
							div.card__equipo
								div.card__equipo--content
									div.pmd-card.pmd-card-default.pmd-z-depth
										div.pmd-card-media
											img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_equipo_card1.png`)
										div.card__equipo--title.pmd-card-title
											h2.pmd-card-title-text Francisco Franco
										div.card__equipo--text.pmd-card-body
											p CEO Argentina
										div.card__equipo--links.pmd-card-actions
											a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
											a.card__equipo--icon(href="mailto:direccion@correo.com")
												i.icon-email
						li.home__equipo__block2__item
							div.card__equipo
								div.card__equipo--content
									div.pmd-card.pmd-card-default.pmd-z-depth
										div.pmd-card-media
											img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_equipo_card2.png`)
										div.card__equipo--title.pmd-card-title
											h2.pmd-card-title-text Jose Miguel Marin
										div.card__equipo--text.pmd-card-body
											p CEO Chile
										div.card__equipo--links.pmd-card-actions
											a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
											a.card__equipo--icon(href="mailto:direccion@correo.com")
												i.icon-email
						li.home__equipo__block2__item
							div.card__equipo
								div.card__equipo--content
									div.pmd-card.pmd-card-default.pmd-z-depth
										div.pmd-card-media
											img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_equipo_card3.png`)
										div.card__equipo--title.pmd-card-title
											h2.pmd-card-title-text Maria Tobar
										div.card__equipo--text.pmd-card-body
											p CEO Colombia
										div.card__equipo--links.pmd-card-actions
											a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
											a.card__equipo--icon(href="mailto:direccion@correo.com")
												i.icon-email
						li.home__equipo__block2__item
							div.card__equipo
								div.card__equipo--content
									div.pmd-card.pmd-card-default.pmd-z-depth
										div.pmd-card-media
											img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_equipo_card4.png`)
										div.card__equipo--title.pmd-card-title
											h2.pmd-card-title-text Leonardo Coutiño
										div.card__equipo--text.pmd-card-body
											p CEO México
										div.card__equipo--links.pmd-card-actions
											a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
											a.card__equipo--icon(href="mailto:direccion@correo.com")
												i.icon-email
						li.home__equipo__block2__item
							div.card__equipo
								div.card__equipo--content
									div.pmd-card.pmd-card-default.pmd-z-depth
										div.pmd-card-media
											img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_equipo_card5.png`)
										div.card__equipo--title.pmd-card-title
											h2.pmd-card-title-text Henry Silva
										div.card__equipo--text.pmd-card-body
											p CEO Perú
										div.card__equipo--links.pmd-card-actions
											a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
											a.card__equipo--icon(href="mailto:direccion@correo.com")
												i.icon-email

	.certificaciones__wrap
		.certificaciones__card__item.certificaciones__const2
			div.certificaciones__card
				.title__general__wrap.title__general--center
					.title__general__title
						h3 Certificaciones Individuales
				div.certificaciones__content
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_1x.png`)
							div.content__card__text
								p Publicidad en Basada en Búsquedas
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_3.png`)
							div.content__card__text
								p Publicidad en Móviles
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_3x.png`)
							div.content__card__text
								p Anuncios en Video
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_2x.png`)
							div.content__card__text
								p Publicidad Gráfica
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}imgimg_certificaciones_1x.png`)
							div.content__card__text
								p Certificación en Shopping
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones.png`)
							div.content__card__text
								p Certificado de aptitud de Google Analytics
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_2x.png`)
							div.content__card__text
								p Ventas de publicidad digital
		.certificaciones__card__item.certificaciones__const
			div.certificaciones__card
				.title__general__wrap.title__general--center
					.title__general__title
						h3 Certificaciones Especializaciones para Empresas
				div.certificaciones__content
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_1x.png`)
							div.content__card__text
								p Publicidad en Búsqueda
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_3.png`)
							div.content__card__text
								p Publicidad en Móviles
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_3x.png`)
							div.content__card__text
								p Publicidad en Videos
					div.certificaciones__content__card
						div.content__card
							div.content__card__img
								img(src=`${STATIC_URL}img/img_certificaciones_2x.png`)
							div.content__card__text
								p Publicidad en Display
			.home_mask3
			
	.certificaciones__bottom__wrap
		.certificaciones__bottom__container
			.certificaciones__bottom__title
					.title__general__wrap.title__general--center.title__general--white
						.title__general__title
							h3 En Latinoamerica estamos más cerca de ti
						.title__general__text
							p  Toma decisiones empresariales más rápidas gracias a la información de los datos que brinda Google.
			.certificaciones__items
				.certificaciones__item.certificaciones__item--one
						div.card__blog
							div.card__blog--content
								div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
									div.card__blog--media.pmd-card-media
										img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card.png`)
									div.card__blog--text.pmd-card-body
										p 3 medidas para mejorar tus campañas de adwords
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_equipo_card.png`)
											span Abril 21, 2017
				.certificaciones__item.certificaciones__item--two
						div.card__blog
							div.card__blog--content
								div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
									div.card__blog--media.pmd-card-media
										img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card.png`)
									div.card__blog--text.pmd-card-body
										p 3 medidas para mejorar tus campañas de adwords
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_equipo_card.png`)
											span Abril 21, 2017
			.certificaciones__button
				a.button__azul.btn.btn-default(href='#') MAS NOVEDADES

	.section__all__phones
		section.block__chips
			.block__chips__content
				.block__chips__icono_phone.icon-phone
				.block__chips__title
					h2 ¿Estás listo <br>para empezar?
				.block__chips__items
					- for (var i = 1; i <= 5; i++)
						.block__chips__item.g__chips__item
							a(href="tel:56226170490").g-chips__link
								.g__chips__content
									figure.g__chips__img
										img(src=`${STATIC_URL}img/g__chips__img__${i}.png`, width="30", height="30", alt="g__chips__" +i, title="g__chips__" +i)
									span.g__chips__text +56-2-2617-0490
//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.slider__principal__pitcher3').bxSlider({
				mode: 'fade',
				controls:true,
				nextSelector: '.slider__principal--arrow--next',
				prevSelector: '.slider__principal--arrow--prev',
				nextText: '',
				prevText: '',
				pager:true,
				adaptiveHeight:true,
				auto:false,
				pause: 5000,
				onSliderLoad: function(currentIndex) {
					$('.slider__principal__pitcher3').children().eq(currentIndex).addClass('active')
				},
				onSlideBefore: function($slideElement){
					$('.slider__principal__pitcher3').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});

			$('.home__partners__cards').slick({
				dots: false,
				autoplay: true,
				arrows: false,
				infinite: true,
				speed: 300,
				slidesToShow: 2,
				autoplaySpeed: 4000,
				responsive: [
					{
						breakpoint: 900,
						settings: {
							dots: false,
							autoplay: true,
							arrows: false,
							infinite: true,
							speed: 300,
							slidesToShow: 1,
							autoplaySpeed: 4000,
						}
					},
				]
			});

			//- var partners__width = $(window).innerWidth();
			//- if(partners__width > 540){
			//- 	$('.home__nosotros__icons').slick({
			//- 		dots: false,
			//- 		autoplay: true,
			//- 		arrows: false,
			//- 		infinite: true,
			//- 		speed: 300,
			//- 		slidesToShow: 4,
			//- 		autoplaySpeed: 4000,
			//- 		responsive: [
			//- 			{
			//- 				breakpoint: 900,
			//- 				settings: {
			//- 					dots: false,
			//- 					autoplay: true,
			//- 					arrows: false,
			//- 					infinite: true,
			//- 					speed: 300,
			//- 					slidesToShow: 3,
			//- 					autoplaySpeed: 4000,
			//- 				}
			//- 			},
			//- 			{
			//- 				breakpoint: 645,
			//- 				settings: {
			//- 					dots: false,
			//- 					autoplay: true,
			//- 					arrows: false,
			//- 					infinite: true,
			//- 					speed: 300,
			//- 					slidesToShow: 2,
			//- 					autoplaySpeed: 4000,
			//- 				}
			//- 			},
			//- 			{
			//- 				breakpoint: 480,
			//- 				settings: {
			//- 					slidesToShow: 1,
			//- 				}
			//- 			}
			//- 		]
			//- 	});
			//- }
			//- else if(partners__width < 540){
			//- 	$('.home__nosotros__icons').slick('unslick');
			//- }


						//- slick slider item product
			$('.tab__carrousel--clone').clone().appendTo('.slider__carrousel__item__title__wrap').addClass('tab__carrousel--clone--class');
			var width__device= $(window).width();
			console.log(width__device);
			var slider__cant = $('.slider__carrousel__item').length;
			if(slider__cant > 3 || width__device < 960){
				$('.slider__carrousel__item__slider').addClass('slider__carrousel__item--active');
				$('.slider__carrousel__item--js').slick({
					slidesToShow: 3,
					slidesToScroll: 1,
					infinite: true,
					autoplay: true,
					prevArrow:'.tab__carrousel__item__arrow__personalized_prev',
					nextArrow:'.tab__carrousel__item__arrow__personalized_next',
					dots: false,
					responsive: [
						{
							breakpoint: 960,
							settings: {
								slidesToShow: 2,
								slidesToScroll: 1
							}
						},
						{
							breakpoint: 600,
							settings: {
								slidesToShow: 1,
								slidesToScroll: 1
							}
						}
					]
				});
			}
			

			//- slick slider item team 
			if(width__device < 768){
				$('.home__equipo__block2').addClass('slider__carrousel__item--active');
				$('.title__general__button').clone().appendTo('.home__equipo__block2__right');
				$('.slider__carrousel__team--js').slick({
					slidesToShow: 2,
					slidesToScroll: 1,
					infinite: true,
					autoplay: true,
					prevArrow:'.tab__team__item__arrow__personalized_prev',
					nextArrow:'.tab__team__item__arrow__personalized_next',
					dots: false,
					responsive: [
						{
							breakpoint: 480,
							settings: {
								slidesToShow: 1,
								slidesToScroll: 1
							}
						}
					]
				});
			}

			var cuenta = $('.service__search__slider__item').length;
			if(cuenta > 1){
				$('.service__search__pitcher').slick({
					arrows: false
				});
			}

		})