extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/qtip/jquery.qtip.css`)
block content
	section.banner__interna
		span.banner__interna__capa.banner__interna__capa--blanco
		//- span.banner__interna__capa.banner__interna__capa--azul
		figure.banner__interna__fondo(style=`background-image: url('${STATIC_URL}img/banner__interna__fondo.jpg');`)
		article.banner__interna__content
			.banner__interna__textarea
				.banner__interna__title
					h1 Presencia internacional para gestionar tu campaña
				.banner__interna__text
					p Postly turns your photos into real, beautiful postcards personalize your efr.
	.section__all
		.section__container__all
			.section__all__team
				.section__all__team__info
					.title__general__wrap.title__general--center
						.title__general__title
							h3 Equipo LATAM
						.title__general__text
							p  Somos profesionales apasionados por el marketing de performance, todos con más de 10 años de experiencia en productos de Google.
							p Nos reúne una fuerte pasión por lo que hacemos, compartimos las mejores prácticas en cada país e industria en la que participamos.
				.section__all__team__img
					ul
						-for (var i = 0; i < 6; i++)
							li
								a.btn-tooltip
									img(src=`${STATIC_URL}img/team-img.jpg`, alt="")
								.tooltiptext 
									h3 Alex Gonzales
									p Loremp ipsum sdsd sdsd sdsdsd sdsdsd sdsd
			.section__all_partners
				.title__general__wrap.title__general
					.title__general__title
						h3 Presencia en toda<br> Latinoamerica
				.section__all_partners__items.section__slider_direccion
					-for (var i = 0; i < 5; i++)
						.section__all_partners__item
							div.card__mapa
								div.card__mapa--content
									div.pmd-card.pmd-card-default.pmd-z-depth
										div.pmd-card-media
											img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/captura_mapa.png`)
										div.card__mapa--title.pmd-card-title
											h2.pmd-card-title-text Santiago, Chile
										div.card__mapa--text.pmd-card-body
											p Zona de Retiro, en la calle Esmeralda 950
											p Piso 16.
											div.media-left
												div.card__mapa--icons
													div.mapa--icon
														i.icon-phone
													div.mapa--icontext
														span +54 11 6070010
												div.card__mapa--icons
													div.mapa--icon
														i.icon-email
													div.mapa--icontext
														span contacto@norte.digital
										div.card__mapa--link.pmd-card-actions
											a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Conoce la sede
			.section__all_partners__items.two
				.section__all_team__items__two.section__all__sliders__items
					-for (var i = 0; i < 2; i++)
						.section__all_partners__item
							//- copiar a partir de aqui ------
							.card__partner
								.pmd-card.pmd-card-default.pmd-z-depth
									//- Card media
									.pmd-card-media.card__partner__img
										img.img-responsive(src=`${STATIC_URL}img/card-partner.png`, width='1184', height='666')
									//- Card body
									.pmd-card-title
										h2.pmd-card-title-text.card__partner__title Mercado Shops
									.pmd-card-body.card__partner__body
										| Tenemos alianza con mercado shops partner
									//- Card actions
									.pmd-card-actions
											a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') MÁS INFORMACIÓN
				.section__all__team__content
					.title__general__wrap.title__general
						.title__general__title
							h3 Nuestros<br> Partners
						.title__general__text
							p Trabajamos en una relación uno a uno con nuestros partners, teniendo acceso a capacitaciones, soporte y productos exclusivos.
			.section__all__team__certificacions
				.title__general__wrap.title__general--center
					.title__general__title
						h3 Certificaciones Individuales
				.section__all__team__certificacions__items
					-for (var i = 0; i < 7; i++)
						.section__all__team__certificacions__item
							figure
								img.img-responsive(src=`${STATIC_URL}img/img_certificaciones_2.png`, width='39', height='36')
							h3 Publicidad en Basada en Búsquedas
			.section__all__team__certificacions
				.title__general__wrap.title__general--center
					.title__general__title
						h3 Especializaciones para<br> Empresas
				.section__all__team__certificacions__items
					-for (var i = 0; i < 4; i++)
						.section__all__team__certificacions__item
							figure
								img.img-responsive(src=`${STATIC_URL}img/img_certificaciones_2.png`, width='39', height='36')
							h3 Publicidad en Basada en Búsquedas
		.section__all__working
			.title__general__wrap.title__general--center
				.title__general__title
					h3 Beneficios de trabajar con<br> Norte Digital
			.section__all__working__items
				-for (var i = 0; i < 8; i++)
					.section__all__working__item
						.section__all__working__item__icon
							figure
								img.img-responsive(src=`${STATIC_URL}img/item-work-all.png`, width='40', height='40')
						.section__all__working__item__title Software de optimización
		.section__all__phones
			section.block__chips
				.block__chips__content
					.block__chips__icono_phone.icon-phone
					.block__chips__title
						h2 ¿Estás listo <br>para empezar?
					.block__chips__items
						- for (var i = 1; i <= 5; i++)
							.block__chips__item.g__chips__item
								a(href="tel:56226170490").g-chips__link
									.g__chips__content
										figure.g__chips__img
											img(src=`${STATIC_URL}img/g__chips__img__${i}.png`, width="30", height="30", alt="g__chips__" +i, title="g__chips__" +i)
										span.g__chips__text +56-2-2617-0490

				


append scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/qtip/jquery.qtip.min.js`)
	script.
		$(()=>{
			//$('.btn-tooltip').tooltip();
			$('.section__slider_direccion').slick({
				dots: false,
				infinite: false,
				speed: 300,
				slidesToShow: 3,
				slidesToScroll: 1,
				prevArrow: '<i class="prev-arrow-slick"></i>',
				nextArrow: '<i class="next-arrow-slick"></i>',
				responsive: [
					{
						breakpoint: 768,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
					// You can unslick at a given breakpoint now by adding:
					// settings: "unslick"
					// instead of a settings object
				]
			});
			$('.btn-tooltip').each(function() {

		        $(this).qtip({
		            content: {
		                 text: $(this).next('.tooltiptext'),
		            },
		            position: {
				        my: 'bottom center',  // Position my top left...
				        at: 'top center'
				    }
		        });
			});

			var width = $(window).innerWidth();
			if (width < 481) {
				$('.section__all__sliders__items').slick({
					dots: false,
					infinite: true,
					speed: 300,
					autoplay: true,
					arrows: false,
					slidesToShow: 1,
					slidesToScroll: 1
				});
			}
		})