extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
block content
	section.banner__interna
		span.banner__interna__capa.banner__interna__capa--blanco
		//- span.banner__interna__capa.banner__interna__capa--azul
		figure.banner__interna__fondo(style=`background-image: url('${STATIC_URL}img/banner__interna__fondo.jpg');`)
		article.banner__interna__content
			.banner__interna__textarea
				.banner__interna__title
					h1 Presencia internacional para gestionar tu campaña
				.banner__interna__text
					p Postly turns your photos into real, beautiful postcards personalize your efr.
	.sede
		.sede__partners
			.sede__nuestros__partners
				.sede__partners__title
					.title__general__wrap.title__general--left
						.title__general__title
							h3 Nuestros Partners
					p Trabajamos en una relación uno a uno con nuestros partners, teniendo acceso a capacitaciones, soporte y productos exclusivos.
				.partners__slider
					.sede__partners__cards
						- for (var x = 0; x < 2; x++)
							div.partners__card.card__partner
								.card__partner__box.pmd-card.pmd-card-default.pmd-z-depth
									//- Card media
									.pmd-card-media.card__partner__img
										img.img-responsive(src=`${STATIC_URL}img/card-partner.png`, width='1184', height='666')
									//- Card body
									.pmd-card-title
										h2.pmd-card-title-text.card__partner__title Mercado Shops
									.pmd-card-body.card__partner__body
										| Tenemos alianza con mercado shops partner
									//- Card actions
									.pmd-card-actions
											a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') MÁS INFORMACIÓN
			.sede__lider
				.sede__lider__text
					.lider__text__content
						.lider__text__img
							img(src=`${STATIC_URL}img/icon_text_lider.png`)
						.lider__text
							h4 Ideas Innovadoras
							p Google Attribution 360 unifies and analyzes all available data streams to create a highly accurate model of a marketer’s full efforts.
					.lider__text__content
						.lider__text__img
							img(src=`${STATIC_URL}img/icon_text_lider.png`)
						.lider__text
							h4 Ideas Innovadoras
							p Google Attribution 360 unifies and analyzes all available data streams to create a highly accurate model of a marketer’s full efforts.
				.sede__lider__card
					.lider__title
						.title__general__wrap.title__general--center
							.title__general__title
								h3 Lider en Perú
					.lider__card
						.card__equipo
							.lider__card__bloque.card__equipo--content
								.pmd-card.pmd-card-default.pmd-z-depth
									.pmd-card-media
										img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_sedes_card.png`)
									.card__equipo--title.pmd-card-title
										h2.pmd-card-title-text Henry Silva
									.card__equipo--text.pmd-card-body
										p CEO Perú
									.card__equipo--links.pmd-card-actions
										a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
										a.card__equipo--icon(href="mailto:direccion@correo.com")
											i.icon-email
		.sede__mapa
			.sede__mapa__content
				.sede__mapa__text
					.mapa__img
						img(src=`${STATIC_URL}img/icon_sede_mapa.png`)
					.mapa__title
						.title__general__wrap.title__general--left
							.title__general__title
								h3 Equipo especializado en estrategias
					.mapa__text
						p Trabajamos en una relación uno a uno con nuestros partners, teniendo acceso a capacitaciones, soporte y productos exclusivos.
					.mapa__button
						a.button__white.button__azul.btn.btn-default(href='#') Conoce los servicios
			.sede__mapa__imagen
				.mapa__imagen
					img(src=`${STATIC_URL}img/sede_laptop_img.png`)
	.mapa
		.mapa__container
			#mapa__container__view
			.mapa_container__info
				div.card__mapa--content
					div.pmd-card.pmd-card-default.pmd-z-depth
						div.card__mapa--title.pmd-card-title
							h2.pmd-card-title-text Cerca al corazón financiero de Lima
						div.card__mapa--text.pmd-card-body
							p Zona de Retiro, en la calle Esmeralda 950
							p Piso 16.
							div.media-left
								div.card__mapa--icons
									div.mapa--icon
										i.icon-phone
									div.mapa--icontext
										span +54 11 6070010
								div.card__mapa--icons
									div.mapa--icon
										i.icon-email
									div.mapa--icontext
										span contacto@norte.digital
						div.card__mapa--link.pmd-card-actions
							a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') COMO LLEGAR
	.informe-digital
		.informe__digital__wrapp
			.informe__title
				.title__general__wrap.title__general--left
					.title__general__title
						h3 Mantente informado con lo ultimo en digital

			div.blog__content
				.blog__content__box
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_1.png`)
								div.card__blog--text.pmd-card-body
									p 10 Tips que debes incluir ¡ahora! en tu sitio web
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_2.png`)
								div.card__blog--text.pmd-card-body
									p 3 medidas para mejorar tus campañas de adwords
									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017
					a.blog__content__card.card__blog(href="blog-detalle.html")
						div.card__blog--content
							div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
								div.card__blog--media.pmd-card-media
									img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/img_blog_card_3.png`)
								div.card__blog--text.pmd-card-body
									p Por qué tu sitio web debe ser absolutamente, positivamente, explícitamente móvil responsivo

									div.card__blog__footer
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src=`${STATIC_URL}img/img_card_blog2.png`)
											span Abril 21, 2017


	section.solicita__wrap.solicita__bgc
		.solicita__container
			.solicita__left
				.solicita__left__items
					.solicita__left__item
						span.solicita__left__icon.icon-phone
						span.solicita__left__text Llámanos
						a.solicita__left__link(href="tel:655-267-0490") 655-267-0490
					.solicita__left__item
						span.solicita__left__icon.icon-message-b
						span.solicita__left__text Escríbenos
						a.solicita__left__link(href="mailto:peru@norte.digital") peru@norte.digital
			.solicita__right
				.solicita__form
					.solicita__form__title
						h3 Solicita Información
					form(action="")
						ul
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Nombre  y Apellidos*
										input(type='text', class='validate[required]')
								.general__input
									.general__input__inside
										label.general__input__label__inside Teléfono*
										input(type='text', class='validate[required]')
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Email*
										input(type='text', class='validate[required]')
								.general__input
									.general__input__inside
										label.general__input__label__inside Sitio Web*
										input(type='text', class='validate[required]')
						.solicita__foot
							p *campos obligatorios
						.solicita__button
							button.button__azul.btn.btn-default(href='#') Enviar
	.section__all__phones.all__phone__bg
		section.block__chips
			.block__chips__content
				.block__chips__icono_phone.icon-phone
				.block__chips__title
					h2 ¿Estás listo <br>para empezar?
				.block__chips__items
					- for (var i = 1; i <= 5; i++)
						.block__chips__item.g__chips__item
							a(href="tel:56226170490").g-chips__link
								.g__chips__content
									figure.g__chips__img
										img(src=`${STATIC_URL}img/g__chips__img__${i}.png`, width="30", height="30", alt="g__chips__" +i, title="g__chips__" +i)
									span.g__chips__text +56-2-2617-0490

append scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			$('.sede__partners__cards').slick({
				dots: false,
				autoplay: true,
				arrows: false,
				infinite: true,
				speed: 300,
				slidesToShow: 2,
				autoplaySpeed: 4000,
				responsive: [
					{
						breakpoint: 900,
						settings: {
							dots: false,
							autoplay: true,
							arrows: false,
							infinite: true,
							speed: 300,
							slidesToShow: 1,
							autoplaySpeed: 4000,
						}
					},
				]
			});
		})
		$(()=>{
			function initMap() {
				var $map = $( '#mapa__container__view');
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					//- styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('mapa__container__view'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"assets/img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});
			initMap()
			
		})