extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)


//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.b9
		.b9-main.wancho
			.b9-slider
				.b9-ctn
					ul.jsb9-lanzador
						li.b9-item
							.b9-video.w-video
								.b9-portada.w-portada(style=`background-image: url(${STATIC_URL}img/portada-video-home.jpg);`)
								span.icon-phone.w-play
						.b9-wrap-video
							.b9-inner-video
								iframe.video-iframe(data-video='SwlQFK_1C8k', width='543', height='288', frameborder='0', allowfullscreen='')
					li.b9-item
						.b9-video.w-video
							.b9-portada.w-portada(style=`background-image: url(${STATIC_URL}img/portada-video-home.jpg);`)
							span.icoo-play.w-play
							.b9-wrap-video
								.b9-inner-video
									iframe.video-iframe(data-video='X7KoikBdOR4', width='543', height='288', frameborder='0', allowfullscreen='')
//- js
append scripts
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
			  // reproductor video - jquery 3.2.0

			// reproductor video - jquery 3.2.0
			var url ="https://www.youtube.com/embed/";
				var config ="?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"
				$('.w-play').click(function(event) {
					play = $(this)
					play.addClass('anima');
					videocurrent = $(this).closest('.w-video').find('.video-iframe');
					videoid = videocurrent.attr('data-video');
					videocurrent.attr('src', url+videoid+config);


					videocurrent.on('load', function() {
						play.closest('.w-video').find('.w-portada').addClass('active');
						play.addClass('active');
						videocurrent[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*'); 
				});
		}