extends ./_common/base.pug
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
block vars
	- var bodyClass = 'page__services'
block content
	section.service__overflow__hidden
		section.banner__interna
			span.banner__interna__capa.banner__interna__capa--azul
			figure.banner__interna__fondo(style=`background-image: url('${STATIC_URL}img/banner__interna__fondo.jpg');`)
			article.banner__interna__content
				.banner__interna__textarea
					.banner__interna__title
						h1 Nos encontramos cerca al corazón financiero de Lima
					.banner__interna__text
						p Postly turns your photos into real, beautiful postcards personalize your efr.	
		section.service__search
			.service__search__content
				.service__search__column.service__search__column--left
					.service__search__cellphone
						.service__search__slider
							ul.service__search__pitcher
								- for (var i = 1; i <= 2; i++)
									li.service__search__slider__item
										figure.service__search__slider__img(style=`background-image: url('${STATIC_URL}img/service__search__slider__img--1.jpg')`)
				.service__search__column.service__search__column--right
					article.service__search__textarea
						.service__search__title
							h2 Elige en que búsqueda aparecera tu aviso
						.service__search__text
							p Toma decisiones empresariales más rápidas gracias a la información de los datos que brinda Google.
						.service__search__button
							a.button__icon--blanco.btn( href='#') Empieza a vender
	section.service__reports
		.service__reports__content
			.service__reports__items
				article.service__reports__item
					figure.service__reports__item_img
						img(src=`${STATIC_URL}img/service__reports__img--1.png`, width="180", height="180", alt="")
					.service__reports__item_text
						p de los usuarios de Internet usan los buscadores.
				article.service__reports__item
					figure.service__reports__item_img
						img(src=`${STATIC_URL}img/service__reports__img--2.png`, width="180", height="180", alt="")
					.service__reports__item_text
						p del mercado a a nivel mundial es de Google
			.service__reports__box
				.service__reports__box__column
					.service__reports__box__img
						img(src=`${STATIC_URL}img/service__reports__img--3.png`, width="375", height="375", alt="")
				.service__reports__box__column
					.service__reports__box__text
						p.
							que consultan a través de Internet información sobre productos y/o servicios #[strong terminan realizando una compra.]
		.service__reports__block
			.service__reports__block__content
				.service__reports__block__column
					.service__reports__block__textarea
						.service__reports__block__title
							h2 Software automático de reportes.
						.service__reports__block__text
							p.
								Frecuencia: diaria, semanal, mensual. Acceso de lectura a la cuenta, vinculación a Google Analyitcs
						.service__reports__block__button
							a.button__icon--blanco.btn( href='#') Empieza a vender
				.service__reports__block__column
					figure.service__reports__block__img
						img(src=`${STATIC_URL}img/service__reports__img--4.png`, width="832", height="592", alt="")
	section.service__video
		.service__video__title
			h2 Ellos fueron nuestro casos <br>de éxito
		.service__video__content
			.service__video__slider
				ul.service__video__slider__pitcher
					li.service__video__slider__item
						.service__video__slider__video.w-video
							.service__video__slider__portada.w-portada(style=`background-image: url('${STATIC_URL}img/service__video__img--1.jpg');`)
							span.service__video__slider__play.icon-phone.w-play
							.service__video__slider__wrap
								.service__video__slider__inner
									iframe.service__video__slider__iframe(data-video='SwlQFK_1C8k', width='543', height='288', frameborder='0', allowfullscreen='')
						article.service__video__slider__information
							.service__video__slider__descritpion
								p.
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu rutrum metus. Aenean nec mi lorem. Phasellus sit amet cursus tortor, nec egestas augue.
							.service__video__slider__character
								figure.service__video__slider__img
									img(src=`${STATIC_URL}img/service__video__img--character.jpg`, width="50", height="50", alt="service__video__img--character")
								.service__video__slider__texts
										h3 Mónica Flanter
										p Marketing Cinemark
					li.service__video__slider__item
						.service__video__slider__video.w-video
							.service__video__slider__portada.w-portada(style=`background-image: url('${STATIC_URL}img/service__video__img--1.jpg');`)
							span.service__video__slider__play.icon-phone.w-play
							.service__video__slider__wrap
								.service__video__slider__inner
									iframe.service__video__slider__iframe(data-video='SwlQFK_1C8k', width='543', height='288', frameborder='0', allowfullscreen='')
						article.service__video__slider__information
							.service__video__slider__descritpion
								p.
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu rutrum metus. Aenean nec mi lorem. Phasellus sit amet cursus tortor, nec egestas augue.
							.service__video__slider__character
								figure.service__video__slider__img
									img(src=`${STATIC_URL}img/service__video__img--character.jpg`, width="50", height="50", alt="service__video__img--character")
								.service__video__slider__texts
										h3 Mónica Flanter
										p Marketing Cinemark
	section.block__chips.block__chips__responsive
		.block__chips__content
			.block__chips__icono_phone.icon-phone
			.block__chips__title.block__chips__title--responsive
				h2 ¿Estás listo <br>para empezar?
			.block__chips__items
				- for (var i = 1; i <= 5; i++)
					.block__chips__item.g__chips__item
						a(href="tel:56226170490").g-chips__link
							.g__chips__content
								figure.g__chips__img
									img(src=`${STATIC_URL}img/g__chips__img__${i}.png`, width="30", height="30", alt="g__chips__" +i, title="g__chips__" +i)
								span.g__chips__text +56-2-2617-0490							
append scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script.
		$(function(){
			//- slider phone
			var cuenta = $('.service__search__slider__item').length;
			if(cuenta > 1){
				$('.service__search__pitcher').slick({
					arrows: false
				});
			}

			//- slider video
			$('.service__video__slider__pitcher').bxSlider({
				mode: 'fade',
				auto:false,
				pager:false,
				nextText: '',
				prevText: '',
				onSliderLoad: function(currentIndex) {
					$('.service__video__slider__pitcher').children().eq(currentIndex).addClass('active')
				},
				onSlideBefore: function($slideElement){
					videoactual = $('.service__video__slider__pitcher .active').find('.service__video__slider__iframe');
					videoactual[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*'); 
					
					$('.service__video__slider__pitcher').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});
			// reproductor video - jquery 3.2.0
			var url ="https://www.youtube.com/embed/";
			var config ="?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"
			$('.w-play').click(function(event) {
				play = $(this)
				play.addClass('anima');
				videocurrent = $(this).closest('.w-video').find('.service__video__slider__iframe');
				videoid = videocurrent.attr('data-video');
				videocurrent.attr('src', url+videoid+config);
				videocurrent.on('load', function() {
					play.closest('.w-video').find('.w-portada').addClass('active');
					play.addClass('active');
					videocurrent[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*'); 
				});
			});
		});