extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.servicio__listado__general
		.servicio-listado__content
			.container.servicio-listado__wrap
				.row.servicios__box
					.col.servicio__box__item.servicio--celular
						.servicio__box__title
							h2 Brindamos productos que ayudan a tu empresa
						.servicio__box__imagen
							section.service__search
								.service__search__content
									.service__search__column.service__search__column--left
										.service__search__cellphone
											.service__search__slider
												ul.service__search__pitcher
													- for (var i = 1; i <= 2; i++)
														li.service__search__slider__item
															figure.service__search__slider__img(style=`background-image: url('${STATIC_URL}img/service__search__slider__img--1.jpg')`)
					.col.servicio__box__item.servicio--items--content
						.servicio__banner__slider
							ul.servicio__slider__content
								li.servicio__slideer__item 
									.servicio__box__slider
										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-1.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title Red de Búsqueda
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
														.pmd-card-actions
															i.icon-next.pm__icono-siguiente

										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-2.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title Red de Display
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
														.pmd-card-actions
															i.icon-next.pm__icono-siguiente
										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-3.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title Youtube
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
														.pmd-card-actions
															i.icon-next.pm__icono-siguiente
										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-4.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title facebook
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
														.pmd-card-actions
															i.icon-next.pm__icono-siguiente
								li.servicio__slideer__item 
									.servicio__box__slider
										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-1.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title Red de Búsqueda
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
													.pmd-card-actions
														i.icon-next.pm__icono-siguiente
										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-2.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title Red de Búsqueda
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
														.pmd-card-actions
															i.icon-next.pm__icono-siguiente
										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-3.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title Red de Búsqueda
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
														.pmd-card-actions
															i.icon-next.pm__icono-siguiente
										.servicio__slide__item
											.card__partner
												.pmd-card.pmd-card-default.pmd-z-depth
													//- Card media
													.pmd-card-media.card__partner__img
														img.img-responsive(src=`${STATIC_URL}img/servicio-logo-4.png`, width='31', height='30')
													//- Card body
													.pmd-card-title
														h2.pmd-card-title-text.card__partner__title Red de Búsqueda
													.pmd-card-body.card__partner__body
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													//- Card actions
													a(href='')
														.pmd-card-actions
															i.icon-next.pm__icono-siguiente
		.servicio-listado__content.servicio-listado__content--negocios
			.container.servicio-listado__wrap.container.servicio-listado__wrap--negocios
				.servicios__tittle
					h2 Áreas de Negocio
					p Toma decisiones empresariales más rápidas gracias a la información de los datos que brinda Google.
				.row.area__negocios__wrap
					.col.negocios__card
						div.card__mapa
							div.card__mapa--content
								div.pmd-card.pmd-card-default.pmd-z-depth
									div.pmd-card-media
										img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/area-comerce.png`)
									div.card__mapa--title.pmd-card-title
										h2.pmd-card-title-text E-Commerce
									div.card__mapa--text.pmd-card-body
										p Vestuario
										p Electrónica
										p Entretención
										p Autopartes
										p Decoración

										
					.col.negocios__card
						div.card__mapa
							div.card__mapa--content
								div.pmd-card.pmd-card-default.pmd-z-depth
									div.pmd-card-media
										img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/lead-generation.png`)
									div.card__mapa--title.pmd-card-title
										h2.pmd-card-title-text Lead Generation
									div.card__mapa--text.pmd-card-body
										p Educación
										p Real Estate
										p Automotriz
										p Turismo
										p Salud
										p Finanzas

					.col.negocios__card
						div.card__mapa
							div.card__mapa--content
								div.pmd-card.pmd-card-default.pmd-z-depth
									div.pmd-card-media
										img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/area-branding.png`)
									div.card__mapa--title.pmd-card-title
										h2.pmd-card-title-text E-Commerce
									div.card__mapa--text.pmd-card-body
										p Vestuario
										p Electrónica
										p Entretención
										p Autopartes
										p Decoración
										
									
							

							
							


//- js
append scripts
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//code here ------
			var cuenta = $('.service__search__slider__item').length;
			if(cuenta > 1){
				$('.service__search__pitcher').slick({
					arrows: false
				});
			}
			//- $('.box__imagen__slider').slick({
			//- 	dots: false,
			//- 	infinite: false,
			//- 	nav: false,
			//- 	speed: 500,
			//- 	fade: true,
			//- 	cssEase: 'linear'
			//- });
			$('.servicio__slider__content').slick({
				dots: false,
				nextArrow: '<a class="button__icon--flecha btn pmd-btn-fab btn-primary flecha__slider--next" href="#"><i class="icon-navigate_next pmd-sm"></i></a>',
				prevArrow: '<a class="button__icon--flecha btn pmd-btn-fab btn-primary flecha__slider--prev" href="#"><i class="icon-navigate_next pmd-sm"></i></a>',
				infinite: false,
				nav: false,
				speed: 500,
				fade: true,
				cssEase: 'linear',
				slidesToShow: 1
			});
			
			/*$('.servicio__slider__content').slick({
				rtl: true
			});*/


		})