extends ./_common/base.pug

//- css
append css

//- body classs
block vars
	- var bodyClass = 'header__wrap--icon--verde header__wrap--style2'
//- ---

//- Contenido
block content
	section.trabaja__wrap
		section.banner__contact__wrap
			.banner__contact__table
				.banner__contact__container
					.banner__contact__group__info
						.banner__contact__group__title
							h3 Trabaja con nosotros
						.banner__contact__group__text 
							p Llene el formulario y se parte de nuestro equipo de especialistas.

		section.general__contact__form__wrap
			.general__contact__form__container
				.general__contact__form__left
					
				.general__contact__form__right
					.general__contact__form__subtitle
						//- h5 Completa tus datos y obten resultados
					.general__contact__column__item
						.general__contact__column__wrap
							.general__contact__column__one
								.general__contact__column__one__title
									span.general__contact__column__one__number 1
									.general__contact__column__one__inside__title
										h6 Su informacion
							.general__contact__column__two
								ul
									li
										.general__input
											.general__input__inside
												label.general__input__label__inside Nombre  y Apellidos*
												input(type='text', class='validate[required]')
									li
										.general__input
											.general__input__inside
												label.general__input__label__inside Teléfono*
												input(type='text', class='validate[required] soloNumber')
									li
										.general__input
											.general__input__inside
												label.general__input__label__inside Email*
												input(type='text', class='validate[required]')
									li
										.general__input.general__input--select.general__input__icon--right
											.general__input__inside
												span.general__input__ico__right.icon-navigate_next
												label.general__input__label__inside País*
												select(name='')
													option(value="", selected='selected') 
													option(value="argentina") Argentina
													option(value="chile") Chile
													option(value="colombia") Colombia
													option(value="peru") Perú
					.general__contact__column__item.general__item--disabled
						.general__contact__column__wrap
							.general__contact__column__one
								.general__contact__column__one__title
									span.general__contact__column__one__number 3
									.general__contact__column__one__inside__title
										h6 Curriculum
							.general__contact__column__two
								ul
									li
										span.general__contact__file__text Sube tu currículum en español (máximo de 2 MB). Si el currículum que elige es un archivo de Google Drive, creamos automáticamente una copia.
										.general__input__file.general__input__file--js
											.general__input__inside
												input#file-input(type='file')
												label.general__input__file__label.button__icon--blanco.btn(for='file-input')
													span.general__input__file__text seleccione Archivo
													span.general__input__file__ico.icon-adjuntar
										
					.general__contact__column__item.general__item--disabled
						.general__contact__column__wrap
							.general__contact__column__one
								.general__contact__column__one__title
									span.general__contact__column__one__number 3
									.general__contact__column__one__inside__title
										h6 Adicional
							.general__contact__column__two
								ul
									li
										.general__input.general__input--textarea
											.general__input__inside
												label.general__input__label__inside Escribe notas adicionales*
												textarea#mensaje(class="validate[required]")
								.general__contact__column__two__foot
									p *campos obligatorios
								.general__contact__column__two__button
									button.button__azul.btn.btn-default(href='#') Enviar


//- js
append scripts 
	script.
		$(()=>{
			$('.general__input__file--js').each(function(k, el){
				$(el).find('input[type="file"]').change(function(e){
					var id_input = $(this).attr('id');
					$('label[for="'+id_input+'"] .general__input__file__text').html('').html( e.target.files[0].name);
				});
			});

			// form
			const validateImputs = () => {
				let inps = false;
				$('.general__contact__column__item').eq(0).find('input').each((e,k)=>{
					if(!$(k).val()){
						inps = false;
						return false
					}
					//- if($(k).val()){
					//- inps = true
					//- }else{
					//- 	return false;
					//- 	inps = false;
					//- }
				})
				return inps;
			}
			const validateFile = () => {
				if($('#file-input')[0].files.length && !$('.general__contact__column__item').eq(1).hasClass('general__item--disabled')){
					return true;
				}else{
					return false;
				}
			}
			$('.general__contact__column__item').eq(0).find('input').each((e,k)=>{
				$(k).keyup((e)=>{
					if(validateImputs()){
						$('.general__contact__column__item').eq(1).removeClass('general__item--disabled')
					}else{
						$('.general__contact__column__item').eq(1).addClass('general__item--disabled')
					}
				})
			})

			$('#file-input').change(()=>{
				if(validateFile()){
					$('.general__contact__column__item').eq(2).removeClass('general__item--disabled')
				}else{
					$('.general__contact__column__item').eq(2).addClass('general__item--disabled')
				}
			})


			
		})