.blog__banner
	width: 100%
	background-color: $c-1
.blog__banner__title
	max-width: 1200px
	width: 100%
	margin: auto
	padding: 130px 0px
.banner__text
	max-width: 480px
	padding: 0px 10px
.banner__title
	.title__general__title
		h3
			color: $blanco
.blog__content__box
	display: flex
	flex-wrap: wrap
.blog__content
	max-width: 1200px
	width: 100%
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	position: relative
	top: -80px
.blog
	.card__blog--text
		min-height: 280px
.blog__content
	.blog__content__card
		width: 25%
	
.card__blog--media
	img
		width: 100%
		height: auto
@media screen and (max-width: 1024px)
	.banner__text
		padding-left: 20px
		max-width: 380px
@media screen and (max-width: 900px)
	.blog__content
		.blog__content__card
			width:  33.333%
@media screen and (max-width: 700px)
	.blog__content
		.blog__content__card
			width:  50%
@media screen and (max-width: 540px)
	.blog__content
		.blog__content__card
			width:  100%
	.blog .card__blog--text
		min-height: 0