.banner__contact__table
	display: table-cell 
	vertical-align: bottom
	height: 500px 
	width: 2000px
	background: $c-1
	padding: 40px 0
	box-sizing: border-box

.banner__contact__container
	max-width: 1060px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.banner__contact__group__info
	display: inline-block
	width: 33%

.banner__contact__group__title
	h3 
		font-weight: normal 
		font-size: 38px
		font-family: $t-1
		color: $blanco
		margin: 0

.banner__contact__group__text
	margin-top: 20px
	p 
		margin: 0
		font-size: 16px 
		font-family: $t-1
		line-height: 1.3
		color: $blanco

.banner__contact__group__tel
	margin-top: 20px
	position: relative
	padding-left: 38px
	a 
		font-size: 22px
		font-family: $t-1 
		color: $blanco
		margin: 0

.banner__contact__group__tel__icon
	position: absolute
	top: 0
	left: 0
	font-size: 26px
	color: $blanco 
	margin: 0

.banner__contact__group__select
	margin-top: 15px
	position: relative
	display: inline-block
	select
		padding-right: 25px
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		border: none
		background: none 
		height: 30px
		line-height: 30px
		color: $blanco 
		font-family: $t-1
		font-size: 16px
		&::-ms-expand
			display: none 
	option 
		color: $c-1

.banner__contact__group__select__icon
	position: absolute
	top: 5px
	right: 0
	display: block
	transform: rotate(90deg)
	font-size: 20px
	color: $blanco
	pointer-events: none

.banner__contact__group__schedule
	margin-top: 20px
	font-family: $t-1
	font-size: 13px
	color: $blanco 
	p
		margin: 0

.general__contact__form__wrap
	padding-top: 30px
	padding-bottom: 260px

.general__contact__form__container
	max-width: 1060px
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	font-size: 0
	position: relative

.general__contact__form__left
	display: inline-block
	width: 33%

.general__contact__form__left__subtitle
	h4
		font-weight: normal 
		font-family: $t-1
		font-size: 16px
		margin: 0
		color: $c-0

.general__contact__form__left__link
	margin-top: 15px
	font-size: 14px
	display: block
	text-decoration: underline
	font-family: $t-1
	color: $c-1
	&:hover 
		text-decoration: underline
		color: $c-1

.general__contact__form__right
	display: inline-block
	vertical-align: top
	width: 62%
	background: $blanco 
	padding: 30px 50px 40px 50px
	box-sizing: border-box
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.04)
	position: absolute
	top: -365px
	right: 0

.general__contact__form__subtitle
	margin-bottom: 45px
	h5 
		font-size: 16px
		font-family: $t-0
		color: $c-0
		margin: 0
		line-height: 1.3

.general__contact__column__wrap
	font-size: 0

.general__contact__column__one
	width: 175px
	display: inline-block
	vertical-align: top

.general__contact__column__one__title
	font-size: 0
	position: relative

.general__contact__column__one__number
	display: block
	position: absolute
	top: 0
	left: 0
	margin: 0
	width: 25px
	height: 25px
	line-height: 25px
	text-align: center
	font-size: 18px
	color: $blanco
	font-family: $t-1
	background: $c-1
	border-radius: 100%

.general__contact__column__one__inside__title
	padding-left: 40px
	box-sizing: border-box
	h6
		font-size: 22px
		margin: 0
		font-family: $t-1
		color: $c-0 
		line-height: 1.3

.general__contact__column__two
	display: inline-block
	vertical-align: top
	width: calc(100% - 175px)
	padding-left: 35px
	box-sizing: border-box

.general__contact__column__two
	li
		margin-bottom: 25px

.general__contact__column__two__foot
	margin-top: 30px
	font-size: 11px
	color: #757575
	font-family: $t-0
	p 
		margin: 0

.general__contact__file__text
	font-size: 14px
	font-family: $t-1

.general__contact__column__two__button
	text-align: right
	margin-top: 40px 

.general__contact__column__item.general__item--disabled
	input, .general__input__file, textarea
		pointer-events: none
		opacity: .5
	label
		opacity: .5
	.general__contact__column__one__number
		background: $c-4 
	.general__contact__column__one__inside__title h6
		color: $c-4 	


@media screen and (max-width: 1024px)
	.banner__contact__group__title h3
		font-size: 30px

@media screen and (max-width: 960px)
	.general__contact__form__right
		position: relative
		top: 0
		right: inherit
		width: 100%
		margin-top: 40px
		padding: 30px 

	.banner__contact__group__info
		width: 100%

	.general__contact__form__wrap
		padding: 50px 0

	.general__contact__form__left
		width: 100%

	.banner__contact__table
		height: auto
		padding: 100px 0 50px 0

@media screen and (max-width: 767px)
	.general__contact__column__one
		width: 100%

	.general__contact__column__two
		width: 100%
		padding-left: 0
		margin-top: 30px

	.general__contact__form__wrap
		padding: 40px 0

	.general__contact__form__container
		padding: 0 15px

	.banner__contact__container
		padding: 0 15px

	.banner__contact__table
		padding: 100px 0 40px 0

	.banner__contact__group__title h3
		font-size: 25px

	.banner__contact__group__text p
		font-size: 14px
	
	.banner__contact__group__tel
		padding-left: 30px

	.banner__contact__group__tel a
		font-size: 15px

	.banner__contact__group__tel__icon
		font-size: 20px

	.banner__contact__group__select select
		font-size: 15px

	.general__contact__column__one__inside__title h6
		font-size: 18px