
.message__wrap
	height: 680px
	display: flex
	align-items: center
	justify-content: center 

.message__container
	max-width: 460px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	text-align: center

.message__img
	max-width: 421px
	width: 100%
	margin: auto
	img 
		display: block
		width: 100%
		height: auto

.message__text
	margin-top: 45px
	font-size: 17px
	font-family: $t-1
	color: $c-2
	p:last-child
		margin-bottom: 0

.message__button
	margin-top: 35px

@media screen and (max-width: 767px)
	.message__wrap
		display: block
		height: auto
		padding: 80px 0

