body
	background: $blanco
// HOME-PARTNERS
.home__partners
	max-width: 1200px
	padding: 0 20px
	margin: auto
	.pmd-card-media.card__partner__img
		img
			width: 100%
			height: auto
.home__partners__cards
	justify-content: flex-start !important

//HOME--nosotros campañas
.home__nosotros
	padding: 100px 0px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	position: relative
.home__nosotros__text
	width: 30%
	p
		font-size: 17px
		font-family: $t-0
		color: $c-0

//HOME--nosotros
.home__nosotros__icons
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	padding: 80px 0px
.box__icons
	width: 24%
	padding: 0px 10px
.box__icons__img
	width: 35px
	height: auto
	overflow: hidden
	margin-bottom: 15px
.box__icons__title
	padding-bottom: 15px
	h4
		font-family: $t-2
		font-size: 20px
		color: $c-0
.box__icons__text
	padding-bottom: 10px
	p
		font-family: $t-0
		font-size: 16px
		color: $c-0
.box__icons__button
	.button__leer
		padding: 0
		margin-left: -12px
.home__nosotros__img
	width: 70%
	.service__search
		transform: translateX(100px)
	.service__search__slider
		width: 666px
		height: 444px
		margin: auto 0 0 auto
		border: none
	.service__search__column
		width: 100%
	.service__search__slider__img
		width: 670px
		height: 378px
	.service__search__cellphone
		background: url('../img/telefono-hori.png') top center no-repeat
		width: 100%
		height: 500px
	.service__search
		// transform: rotate(-90deg)
		background-color: transparent
		&:before
			content: none
@media screen and (max-width: 768px)
	.box__icons__img
		width: 30px
	.box__icons__title
		h4
			font-size: 19px
	.box__icons__text
		p
			font-size: 15px
@media screen and (max-width: 540px)
	.box__icons
		width: 100%
		padding: 25px 40px
@media screen and (max-width: 330px)
	.box__icons
		width: 100%
		padding: 25px 10px