.slider__principal 
	position: relative
	height: 897px
	overflow: hidden
	background: $blanco
	&.slider__principal__with_ancla .slider__principal__ancla 
		display: block
	&.slider__principal_full .bx-controls-direction 
		max-width: 100%


.slider__principal__bg1
	background: url('../img/banner-bg.png')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0

.slider__principal 	
	.bx-controls-direction 
		position: absolute
		top: 0
		width: 100%
		height: 100%
		left: 0
		right: 0
		margin: auto
		max-width: 1320px
	.bx-wrapper .bx-pager 
		bottom: 20px
		z-index: 60
		display: none
	.bx-wrapper .bx-pager
		text-align: right
	.bx-wrapper .bx-pager.bx-default-pager a
		transition: all 0.25s linear
		background: #9E9E9E
		width: 13px
		height: 13px
		border-radius: 100%
		margin: 0 10px
		font-size: 0
		&.active 
			background: rgba(#9E9E9E, .4) 
		&:hover 
			background: rgba(#9E9E9E, .4)
	
.slider__principal
	ul 
		margin: 0
	li 
		list-style-type: none
		width: 100%
		background-position: center center
		background-size: cover
		background-repeat: no-repeat
		position: relative	

.slider__principal__container 
	max-width: 1320px
	width: 100%
	margin: auto
	position: relative

.slider__principal__container_center 
	display: table-cell
	width: 2000px
	height: 897px
	vertical-align: middle
	box-sizing: border-box

.slider__principal__item 
	position: relative
	padding: 10px 90px 10px 130px
	box-sizing: border-box
	font-size: 0

.slider__principal__left 
	display: inline-block
	vertical-align: middle
	width: 47%
	padding-right: 4%
	box-sizing: border-box
	text-align: left

.slider__principal_right 
	display: inline-block
	vertical-align: middle
	width: 53%

.slider__principal__img 
	width: 100%
	img 
		display: block
		width: 100%
		height: auto

.slider__principal__title 
	h1 
		position: relative
		margin: 0
		line-height: 1.1
		font-size: 50px
		font-family: $t-1
		color: $blanco
		padding: 0

.slider__principal__text 
	margin-top: 30px
	max-width: 68%
	p 
		position: relative
		line-height: 1.4
		margin: 0
		font-family: $t-1
		font-size: 18px
		color: $blanco

.slider__principal__button
	margin-top: 30px

// animacion
.slider__principal__img 
	width: 100%
	opacity: 0
	visibility: hidden
	transform: translateY(40px)
	transition: all 0.8s ease
	transition-delay: 0.8s

.slider__principal__title 
	opacity: 0
	visibility: hidden
	transform: translateY(-40px)
	transition: all 0.8s ease

.slider__principal__text 
	opacity: 0
	visibility: hidden
	transform: translateY(40px)
	transition: all 0.8s ease
	transition-delay: 0.4s

.slider__principal__button
	opacity: 0
	visibility: hidden
	transform: translateY(40px)
	transition: all 0.8s ease
	transition-delay: 0.8s

.slider__principal li.active
	.slider__principal__title
		opacity: 1
		visibility: visible 
		transform: translateY(0px)
	.slider__principal__text
		opacity: 1
		visibility: visible 
		transform: translateY(0px)
	.slider__principal__button
		opacity: 1
		visibility: visible 
		transform: translateY(0px)
	.slider__principal__img
		opacity: 1
		visibility: visible
		transform: translateY(0px)


//arrow presonalized
.slider__principal--arrow--next, .slider__principal--arrow--prev
	top: 50%
	position: absolute
	z-index: 400 
	a 
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0 !important
		background: none !important
		&:before
			display: none

.slider__principal--arrow--next
	right: 10px

.slider__principal--arrow--prev 
	left: 10px

@media screen and(max-width: 1024px) 
	.slider__principal 
		height: 700px

	.slider__principal__container_center 
		height: 700px
		vertical-align: middle

	.slider__principal__item 
		padding: 15px 80px
		max-width: 100%
		text-align: center

	.slider__principal__title 
		h1 
			font-size: 35px

	.slider__principal__text p 
		font-size: 15px

.tab__carrousel--clone--class
	display: none !important	

@media screen and(max-width: 1000px) 
	.slider__principal__arrow--personalized 
		display: none

	.slider__principal__item
		padding: 15px 25px

	.slider__principal .bx-wrapper .bx-pager
		display: block


@media screen and(max-width: 767px) 
	.slider__principal__bg1
		background-position: inherit

	.slider__principal 
		height: 600px

	.slider__principal__container_center 
		height: 600px

	.slider__principal__title 
		h1 
			font-size: 30px

	.slider__principal__container_center
		vertical-align: bottom
		padding-bottom: 100px

	.slider__principal__item 
		padding: 15px

	.slider__principal__left 
		width: 100%
		padding-right: 0

	.slider__principal_right 
		display: none

	.slider__principal__ancla 
		display: none

	.slider__principal__text p 
		font-size: 15px

	.tab__carrousel--clone--class
		margin-bottom: 40px	
		display: block !important		
		.tab__carrousel__item__arrow__personalized_next, .tab__carrousel__item__arrow__personalized_prev
			position: relative
			top: 0
			margin: 0
			display: inline-block
			margin: 0 5px 

	.slider__carrousel__item__title
		margin-bottom: 40px	



//slider
.slider__carrousel__item__slider
	padding-bottom: 75px	

.slider__carrousel__item__container
	max-width: 1280px
	margin: auto	
	padding: 0 20px
	box-sizing: border-box
	text-align: center

.slider__carrousel__item__title
	max-width: 540px
	margin: auto	
	margin-bottom: 60px	
		
.slider__carrousel__item__slide
	overflow: hidden
	width: 100%
	position: relative
	.slick-slider
		padding: 0 80px
		box-sizing: border-box	
	.slick-list
		overflow: hidden			
	.slick-dots
		margin-top: 50px
		li 
			display: inline-block
			text-align: center
			margin: 0 5px 
			&:hover 
				button
					background: $c-1
					border: 1px solid $c-1
			&.slick-active
				button
					background: $c-1
					border: 1px solid $c-1
		button
			display: block
			background: none 
			border: none
			padding: 0	
			margin: 0	
			width: 12px
			height: 12px
			border: 1px solid $c-1
			border-radius: 100%
			box-sizing: border-box
			font-size: 0
			cursor: pointer
			transition: all .2s linear
	
.slider__carrousel__list__items
	font-size: 0	

.slider__carrousel__item
	display: inline-block
	width: 31.3%
	padding: 5px
	margin: 0 1%
	box-sizing: border-box
	.pmd-card
		margin-bottom: 0	

.tab__carrousel__item__arrow__personalized_wrap
	display: none

.tab__carrousel__item__arrow__personalized_next, .tab__carrousel__item__arrow__personalized_prev
	top: 50%
	position: absolute	
	margin-top: -23px	
	z-index: 50

.tab__carrousel__item__arrow__personalized_next
	right: 0
	left: inherit

.tab__carrousel__item__arrow__personalized_prev
	left: 0	
	right: inherit

.slider__carrousel__item__slider.slider__carrousel__item--active
	.slider__carrousel__item
		margin: 0 10px
	.tab__carrousel__item__arrow__personalized_wrap
		display: block


@media screen and (max-width: 1024px)
	.slider__carrousel__item__slider
		padding-bottom: 50px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 30px

	.slider__carrousel__item__title
		margin-bottom: 50px	

@media screen and (max-width: 767px)
	.slider__carrousel__item__container
		padding: 0 15px

	.slider__carrousel__item__slider
		padding-bottom: 40px

	.slider__carrousel__item__title
		margin-bottom: 40px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 30px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 20px

@media screen and (max-width: 767px)
	.slider__carrousel__item__slide
		.slick-slider
			padding: 0 

	.tab__carrousel__item__arrow__personalized_wrap
		display: none

	.slider__carrousel__item__slider.slider__carrousel__item--active .tab__carrousel__item__arrow__personalized_wrap
		display: none

// home equipo block2

.home__equipo__block2__container
	max-width: 1140px
	margin: auto	
	padding: 0 20px 
	box-sizing: border-box	
	display: flex
	align-items: center
	flex-wrap: wrap	

.home__equipo__block2__items
	font-size: 0		

.home__equipo__block2__item
	width: 48%	
	margin: 0 1%
	display: inline-block	
	vertical-align: top	
	.card__equipo
		width: 100%	
	.card__equipo .card__equipo--content
		width: 100%	

.home__equipo__block2__left
	width: 345px
	display: inline-block	
	vertical-align: middle	

.home__equipo__block2__right
	width: calc(100% - 345px)
	display: inline-block	
	vertical-align: middle
	padding-left: 15%
	box-sizing: border-box	

.home__equipo__block2.slider__carrousel__item--active
	.home__equipo__block2__item
		margin: 0 10px

.tab__carrousel__arrow__personalized_wrap
	text-align: center
	margin-top: 25px				

.tab__team__item__arrow__personalized_prev, .tab__team__item__arrow__personalized_next
	display: inline-block
	margin: 0 5px 

.tab__carrousel__arrow__personalized_wrap
	display: none

.home__equipo__block2__left
	.title__general__text
		margin-top: 20px
		p 
			line-height: 1.6

.title__general__button
	margin-top: 50px

@media screen and (max-width: 960px)
	.home__equipo__block2__left
		width: 100%	
		padding-left: 0	

	.home__equipo__block2__right 
		width: 100%	
		padding-left: 0	

	.title__general__wrap.title__general--left
		text-align: center

	.home__equipo__block2__right
		margin-top: 40px

@media screen and (max-width: 767px)
	.home__equipo__block2__left
		.title__general__button
			display: none

	.tab__carrousel__arrow__personalized_wrap
		display: block

	.home__equipo__block2 
		padding-bottom: 40px

	.home__equipo__block2__container
		padding: 0 15px

	.home__equipo__block2__right
		text-align: center
		.title__general__button
			margin-top: 0
	.home__nosotros__text
		width: 100%
		text-align: center
		

.home__equipo__block2
	padding-bottom: 90px

.certificaciones__wrap
	.certificaciones__content__card
		min-height: 152px

.slider__carrousel__item__container
	.card__mapa--content
		width: 100% !important


@media screen and (max-width:1000px)
	.sede__nuestros__partners__wrap
		padding-top: 40px	

@media screen and (max-width:1024px)
	.home__nosotros
		padding: 50px 0 0 0

	.home__nosotros__icons
		padding: 30px 0 50px 0

	.home__equipo__block2
		padding-bottom: 50px	


@media screen and (max-width:767px)
	.box__icons
		width: 50%
		padding: 25px 10px

@media screen and (max-width:480px)
	.box__icons
		width: 100%
		padding: 25px 0

.home__nosotros__wrap
	position: relative

.home__nosotros--change
	.home__nosotros__img .service__search
		transform: translateX(0)

	.home__nosotros__img
		width: 813px	
		position: absolute	
		top: 50%
		transform: translateY(-50%)
		right: 0

	.home__nosotros__text
		width: 100%	
		padding-right: 813px	
		box-sizing: border-box	

	.home__nosotros
		display: table-cell 
		vertical-align: middle	
		height: 100%
		padding: 0	

	.home__partners
		display: table	
		height: 500px	

	.service__search__column
		margin-top: 0	

@media screen and (max-width:1100px)
	.home__nosotros--change .home__nosotros__img
		right: -20%

	.home__nosotros--change .home__nosotros__text
		padding-right: 620px


@media screen and (max-width:960px)
	.home__nosotros--change .home__nosotros
		padding: 20px 0

	.home__nosotros--change .home__nosotros__img
		display: none	

	.home__nosotros--change .home__nosotros__text
		padding-right: 0

	.home__nosotros--change .home__partners
		height: auto			



@media screen and (max-width:1024px)
	.certificaciones__card__item	
		margin-bottom: 50px	

.certificaciones__bottom__wrap
	.card__blog--text
		padding-bottom: 25px

.certificaciones__button
	margin-top: 45px		


// .home_mask1
// 	display: block	
// 	position: absolute	
// 	top: 0	
// 	right: 0	
// 	width: 1151px	
// 	height: 1539px	
// 	background: url("../img/home-bloquegris2.png") top center no-repeat
// 	z-index: 1


.home_mask2
	display: block	
	position: absolute	
	top: 0	
	left: 0	
	width: 1162px	
	height: 2308px	
	background: url("../img/home-bloque-gris1.png") top center no-repeat 
	z-index: 1

.home_mask3
	display: block	
	position: absolute	
	top: -1%
	right: 0		
	width: 1601px
	height: 1565px	
	background: url("../img/home-bloque-azul.png") top center no-repeat
	z-index: 1

.certificaciones__const
	position: relative	

.home__nosotros__icons__wrap
	position: relative	

.home__partners
	z-index: 2

.slider__carrousel__item__slider
	position: relative	
	z-index: 2

.home__nosotros__icons
	position: relative
	z-index: 3	

.home__equipo__block2
	position: relative	
	z-index: 3

.home__equipo__block2__container
	position: relative	
	z-index: 3

.certificaciones__wrap
	position: relative	
	z-index: 3

.certificaciones__bottom__wrap
	position: relative	
	z-index: 3

.certificaciones__card
	position: relative	
	z-index: 5

.certificaciones__card__item
	.title__general__wrap
		max-width: 650px
		margin: auto	
		margin-bottom: 50px	

.certificaciones__bottom__title
	max-width: 550px
	margin: auto	
	margin-bottom: 40px	

@media screen and (max-width: 540px)
	.certificaciones__wrap
		.content__card
			max-width: 100%

		.content__card__img
			margin: 0

		.certificaciones__content__card
			min-height: inherit	


@media screen and (max-width: 767px)
	.certificaciones__item--one
		width: 100%	

	.certificaciones__item--two
		width: 100%	