.section__all
	background: $blanco
	position: relative
.section__container__all
	width: 100%
	max-width: 1240px
	padding: 0 20px
	box-sizing: border-box
	margin: auto
.section__all__team
	width: 100%
	max-width: 870px
	margin: auto
.section__all__team__info
	width: 100%
	max-width: 680px
	margin: auto
	.title__general__text p
		line-height: 27px
.section__all__team__img
	margin-top: 40px
	position: relative
	ul
		display: flex
		justify-content: space-between
		position: relative
	img
		display: block
		border-radius: 100%
	li 
		margin: 0
		border-radius: 100%
		height: 100%
		padding: 5px
		box-sizing: border-box
		max-width: 129px
		cursor: pointer 
		position: relative
		&:before
			content: ""
			transition: all .3s
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55)
			width: 100%
			height: 100%
			border: 1px solid $c-1
			position: absolute
			top: 0
			left: 0
			display: block
			opacity: 0
			border-radius: 100%
		&:nth-child(2), &:nth-child(4)
			max-width: 121px
			margin-top: 140px
		&:nth-child(3)
			max-width: 109px
			margin-top: 35px
		&:nth-child(4)
			margin-top: 90px
		&:nth-child(5)
			margin-top: 15px
		&:last-child
			max-width: 156px
			margin-top: 85px
	a
		width: 100%
		height: 100%
		display: block
		position: relative
		z-index: 3
.section__all_partners
	padding: 100px 0 0 0
	box-sizing: border-box
	overflow: hidden
.section__all_partners__items
	margin-top: 30px
	display: flex
	justify-content: space-between
	box-sizing: border-box
	.slick-arrow
		cursor: pointer
		position: absolute
		top: -110px
		right: 0
		width: 56px
		height: 56px
		border: 0
		z-index: 2
		border-radius: 50%
		background: $blanco
		box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
		&:before
			position: absolute
			top: 0
			left: 8px
			right: 0
			margin: auto
			font-family: icomoon
			font-size: 35px
			color: #212121
			line-height: 56px
	.slick-slide
		margin-right: 20px
		margin-bottom: 7px
		margin-left: 6px
	.prev-arrow-slick
		right: 70px
		&:before
			content: "\e90b"
	.next-arrow-slick
		&:before
			content: "\e90c"
.section__all_partners__items.two
	margin-top: 100px
	padding: 0
	box-sizing: border-box
.section__all_partners__item
	width: 32%
	.card__mapa 
		.card__mapa--content
			width: 100%
	.pmd-card
		margin-bottom: 0
	.card__partner
		width: 100%
.section__all_team__items__two
	width: 65%
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	.section__all_partners__item
		width: 48%
.section__all__team__content
	width: 32%
	padding-left: 70px
	box-sizing: border-box
	padding-top: 45px
	.title__general__text
		margin-top: 30px
		p 
			line-height: 28px
.section__all__team__certificacions
	padding-top: 85px
.section__all__team__certificacions__items
	display: flex
	flex-wrap: wrap
	margin-top: 50px
.section__all__team__certificacions__item
	width: 24%
	background: $blanco
	margin-bottom: 10px
	text-align: center
	padding: 20px 10px 15px 10px
	box-sizing: border-box
	margin-right: 1%
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	figure
		max-width: 39px
	h3
		margin: 12px 0 0 0
		font-size: 18px
.section__all__working
	background: $c-1
	padding: 90px 0
	.title__general__title h3
		color: $blanco
.section__all__working__items
	margin: 105px 0 0 0
	display: flex
	flex-wrap: wrap
	max-width: 1240px
	width: 100%
	margin: auto
.section__all__working__item
	width: 25%
	text-align: center
	padding: 0 10px
	box-sizing: border-box
	margin: 105px 0 0 0
.section__all__working__item__icon
	width: 80px
	height: 80px
	background: $blanco
	border-radius: 100%
	display: flex
	align-items: center
	margin: auto
	figure
		width: 100%
		max-width: 40px
		margin: auto
.section__all__working__item__title
	color: $blanco
	font-size: 18px
	max-width: 120px
	margin: 30px auto 0 auto
	line-height: 22px
.section__all__phones
	margin-top: 60px
.tooltiptext
	display: none
.qtip-default
	border: 0 !important
	background: $c-2 !important
	color: $blanco !important
	width: 120px !important 
	padding-top: 10px
	padding-bottom: 10px
	&:before
		content: ""
		position: absolute
		bottom: -20px
		left: 0
		right: 0 
		margin: auto
		width: 0
		height: 0
		border-style: solid
		border-width: 20px 10px 0 10px
		border-color: $c-2 transparent transparent transparent
@media screen and(min-width: 1025px)
	.section__all__team__img li
		&:hover:before
			opacity: 1
@media screen and(max-width: 1024px)
	.section__all_partners__items.two
		margin-top: 50px
		flex-wrap: wrap
	.section__all_team__items__two
		width: 100%
		order: 2
		margin-top: 30px
	.section__all__team__content
		width: 100%
		order: 1
		padding-left: 0
		padding-top: 0
		.title__general__title
			h3
				text-align: center
				br
					display: none
		.title__general__text p
			text-align: center
	.section__all__team__certificacions__item
		width: 32.3333%
	.section__all__team__certificacions
		padding-top: 50px
	.section__all__working
		padding: 50px 0
	.section__all__working__item
		margin-top: 50px
	.section__all__working__item
		width: 33.333%
@media screen and(max-width: 768px)
	.section__all__team__certificacions__item
		width: 49%
@media screen and(max-width: 640px)
	.section__container__all
		padding: 0 15px
	.section__all__team__img
		li
			width: 16.666%
	.section__all_partners
		padding-top: 30px
		.title__general__wrap
			padding-bottom: 50px
		.title__general__title
			h3
				text-align: center
	.section__all_partners__items 
		padding-top: 30px
		.slick-arrow
			top: -65px
			right: 0
			left: 0
			margin: auto
			&.next-arrow-slick
				right: -65px
			&.prev-arrow-slick
				right: 65px
	.section__all_partners__items.two
		margin-top: 30px
	.section__all__team__certificacions__items
		margin-top: 30px
	.section__all__team__certificacions
		padding-top: 30px
	.section__all__working
		padding: 30px 0
	.section__all__working__item
		margin-top: 30px
	
@media screen and(max-width: 480px)
	.section__all__team__certificacions__item
		width: 100%
		margin-right: 0
		display: flex
		padding-left: 15px
		padding-right: 15px
		align-items: center
		figure
			width: 40px
			margin: 0 10px 0 0 
		h3
			margin-top: 0
			width: 100%
			max-width: 400px
			text-align: left
		img
			display: block
	.section__all__working__item
		width: 50%