// NUESTROS PARTNERS
.sede__partners
	max-width: 1100px
	padding: 0 20px
	width: 100%
	margin: auto
.sede__nuestros__partners
	display: flex
	flex-direction: row-reverse
	flex-wrap: wrap
	justify-content: center
	align-items: center
.sede__partners__title
	width: 30%
	margin: auto
	padding: 0 30px
	p
		font-family: $t-0
		font-size: 17px
		color: $c-0
	.title__general__text
		margin-top: 30px
.partners__slider
	width: 70%
.sede__partners__cards
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
.partners__card
	margin: auto
	padding: 10px

//LÍDER EN PERÚ
.sede__lider
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	padding: 50px 0px
.sede__lider__text
	width: 39%
	margin-right: auto
	margin-left: 0
	margin-top: auto
	margin-bottom: auto
	padding-left: 30px
.lider__text__content
	padding-bottom: 50px
.lider__text__img
	width: 40px
	height: 40px
	overflow: hidden
	box-sizing: border-box
.lider__text
	padding-top: 20px
	h4
		font-family: $t-1
		font-size: 25px
		color: $c-0
		padding-bottom: 15px
	p
		font-family: $t-0
		font-size: 17px
		color: $c-0
.sede__lider__card
	width: 50%
	margin: auto
.lider__title
	padding-bottom: 45px

//BANNER--MAPA
.sede__mapa
	background-color: $c-1
	width: 100%
	position: relative
	overflow: hidden
.sede__mapa__content
	max-width: 1100px
	width: 100%
	margin: auto
	padding: 100px 20px
.sede__mapa__text
	padding-left: 20px
	width: 38%
	position: relative
.mapa__title
	padding-bottom: 30px
	.title__general--left
		h3
			color: $blanco
.mapa__img
	width: 54px
	height: 54px
	overflow: hidden
	box-sizing: border-box
	margin-bottom: 10px
.mapa__text
	color: $blanco
	font-family: $t-0
	font-size: 17px
	padding-bottom: 30px
.mapa__button
	.button__white
		background-color: $blanco
		color: $c-0 !important
.mapa__imagen
	position: absolute
	top: 60px
	right: 0
	width: 690px
	height: auto
	transform: translate(90px)
.informe-digital
	display: block
	.blog__content
		top: 0
	.blog__content .blog__content__card
		width: 32%
	.pmd-card-body
		min-height: 240px
.informe__digital__wrapp
	max-width: 1150px
	margin: auto 

.informe__title
	max-width: 420px
	h3 
		font-size: 35px
		font-family: $t-1
.solicita__bgc
	background-color: #f0f3f6
.all__phone__bg
	margin-top: 0 !important
@media screen and (max-width: 1025px)
	.sede__mapa__text
		width: 45%
	.mapa__imagen
		width: 500px
		top: 140px
		transform: translate(90px)
@media screen and (max-width: 900px)
	.partners__slider
		width: 50%
	.sede__partners__title
		width: 50%
	.sede__lider__text
		width: 50%
		padding: 10px
@media screen and (max-width: 768px)
	.sede__partners__title
		p
			font-size: 15px
	.lider__text
		h4
			font-size: 22px
		p
			font-size: 14px
	.lider__text__img
		width: 30px
		height: 30px
		overflow: hidden
		box-sizing: border-box
	.lider__card__bloque
		width: 260px !important
	.mapa__text
		font-size: 15px
@media screen and (max-width: 720px)
	.mapa__imagen
		width: 450px
		top: 140px
		transform: translate(140px)
	.sede__mapa__text
		width: 50%
@media screen and (max-width: 600px)
	.sede__partners__title
		text-align: center
		padding-bottom: 20px
		.title__general--left
			text-align: center
	.partners__slider
		width: 70%
	.sede__partners__title
		width: 100%
	.sede__lider__text
		width: 100%
		padding: 0 10%
	.sede__lider__card
		width: 100%
	.lider__card__bloque
		width: 300px !important
	.mapa__imagen
		display: none
	.sede__mapa__text
		width: 100%
@media screen and (max-width: 430px)
	.partners__slider
		width: 95%
	.lider__card__bloque
		width: 280px !important
@media screen and (max-width: 320px)
	.partners__slider
		width: 100%