.service__video
	background: #f0f3f6
	position: relative
	padding-bottom: 100px
	&:before
		content: ""
		display: block
		width: 1663px
		height: 1384px
		background: url('../img/service__capa--azul.png') top center no-repeat
		position: absolute
		top: 0
		right: 0
		z-index: 3
.service__video__content
	max-width: 1200px
	width: 100%
	margin: auto
.service__video__title
	background: $blanco
	padding-top: 50px
	padding-bottom: 215px
	h2
		color: $c-0
		font-family: $t-1
		font-weight: normal
		font-size: 40px
		text-align: center
		position: relative
		z-index: 3
		margin-bottom: 0
.service__video__slider
	max-width: 723px
	width: 100%
	margin: auto
	margin-top: -180px
	.bx-wrapper .bx-controls-direction a
		display: block
		width: 50px
		height: 50px
		background: $blanco
		text-indent: inherit
		text-align: center
		border-radius: 50%
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
		top: 24%
		left: -85px
		z-index: 60
		transition: all .2s ease-in-out
		margin-top: 0
		&:before
			content: "\e90b"
			display: block
			width: 100%
			height: 100%
			line-height: 50px
			color: #4d4c4c
			font-family: $icomoon
			font-size: 24px
		&:nth-child(2)
			left: auto
			right: -85px
			&:before
				content: "\e90c"
		@media screen and (min-width: 1025px)
			&:hover
				box-shadow:	0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)	
.service__video__slider__video
	position: relative
.service__video__slider__portada
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 2
	background-size: cover
.service__video__slider__play
	display: block
	width: 147px
	height: 147px
	background: rgba(18, 18, 18, .79)
	border-radius: 50%
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 3
	margin: auto
	&:before
		content: ""
		display: block
		width: 0
		height: 0
		border-style: solid
		border-width: 27px 0 27px 48px
		border-color: transparent transparent transparent #ffffff
		position: absolute
		top: 0
		left: 15px
		right: 0
		bottom: 0
		margin: auto
.service__video__slider__inner
	position: relative
	padding-bottom: 55.55%
	padding-top: 25px
	height: 0
.service__video__slider__iframe
	display: block
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0

//reproduccion video
+keyframes(opaciti)
	0%
		opacity: 0
	50%
		opacity: 0.5
	100%
		opacity: 1
.w-play
	cursor: pointer
	transition: all .5s linear
	&.active
		display: none
	&.anima
		animation: opaciti 1s linear infinite alternate
.w-portada
	&.active
		opacity: 0
		visibility: hidden

// complemento
.service__video__slider__information
	margin-top: 125px
	padding-bottom: 30px	
.service__video__slider__descritpion
	line-height: 1.4
	color: $blanco
	font-family: $t-0
	font-size: 25px
	text-align: center
	p
		margin-bottom: 0
		&:before
			content: ""
			display: inline-block
			vertical-align: middle
			width: 66px
			height: 46px
			background: url('../img/service__video__img--open__comillas.png') 0 0 no-repeat
			position: relative
			top: -20px
			margin-right: 10px
		&:after
			content: ""
			display: inline-block
			vertical-align: middle
			width: 66px
			height: 46px
			background: url('../img/service__video__img--close__comillas.png') 0 0 no-repeat
			position: relative
			bottom: -20px
			margin-left: 10px
.service__video__slider__character
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	margin-top: 60px
.service__video__slider__img
	width: 50px
	height: 50px
	overflow: hidden
	border-radius: 50%
	margin: 0
	img
		display: block
		width: 100%
		height: auto
		border-radius: 50%
.service__video__slider__texts
	line-height: 1
	color: $blanco
	font-family: $t-0
	font-size: 17px
	padding-left: 20px
	h3
		font-family: $t-2
		font-size: 22px
		margin-bottom: 10px
	p
		margin-bottom: 0

// responsive
@media screen and (max-width: 1460px)
	.service__video:before
		left: -15%

@media screen and (max-width: 1024px)
	.service__video
		&:before
			height: 1284px
			background-position: bottom right

	.service__video__title
		padding-bottom: 50px
		h2
			font-size: 30px
	.service__video__slider
		max-width: 600px
		margin-top: 0
		.bx-wrapper .bx-controls-direction a
			left: -70px
			&:nth-child(2)
				right: -70px			
	.service__video__content
		box-sizing: border-box
		padding: 0 80px
	.service__video__slider__play
		width: 80px
		height: 80px
		&:before
			border-width: 20px 0 20px 28px
	.service__video__slider__descritpion
		font-size: 18px

@media screen and (max-width: 767px)
	.service__video
		overflow: hidden		
		padding-bottom: 80px
		&:before
			left: -19%			
	.service__video__title
		background: none
		h2
			font-size: 26px
	.service__video__content
		padding: 0 15px
	.service__video__slider
		.bx-wrapper .bx-controls-direction a
			display: none
	.service__video__slider__information
		margin-top: 70px
	.service__video__slider__descritpion
		p
			&:before, &:after
				width: 50px
				height: 36px
				background-size: 100%
			&:before
				top: -15px
			&:after
				bottom: -15px

@media screen and (max-width: 480px)
	.service__video
		&:before
			left: -106%