.service__overflow__hidden
	overflow: hidden	
.service__search
	background: $c-1
	position: relative
	z-index: 2
	&:before
		content: ""
		width: 120%
		height: 320px
		background: $blanco
		position: absolute
		left: 50%
		bottom: -185px
		transform: translateX(-50%)rotate(-8deg)
		z-index: 2
.service__search__content
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: flex-start
	max-width: 1200px
	width: 100%
	margin: auto
.service__search__column
	width: 50%
	margin-top: -60px
.service__search__cellphone
	width: 460px
	height: 609px
	background: url('../img/service__search__cellphone--fondo.png') top center no-repeat
	position: relative
	margin: auto
.service__search__slider
	width: 344px
	height: 489px
	border: 2px solid #b9bfcb
	position: absolute
	left: 0
	right: 0
	bottom: 0
	margin: auto	
.service__search__slider__img
	width: 340px
	height: 485px
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	box-sizing: border-box
.service__search__textarea
	max-width: 395px
	width: 100%
	margin: auto
.service__search__title
	margin-bottom: 25px
	h2
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 40px
		margin-bottom: 0
.service__search__text
	line-height: 1.4
	color: $blanco
	font-family: $t-0
	font-size: 17px
	margin-bottom: 60px
	p
		margin-bottom: 0

// responsive
@media screen and (max-width: 1460px)
	.service__search__textarea
		max-width: 290px
	.service__search__title
		h2
			font-size: 30px
	.service__search__text
		font-size: 16px
		margin-bottom: 40px

@media screen and (max-width: 960px)
	.service__search__column
		&.service__search__column--left
			width: 420px
			overflow: hidden
		&.service__search__column--right
			width: calc(100% - 420px)
	.service__search__cellphone
		position: relative
		left: 50%
		transform: translateX(-50%)
	.service__search__textarea
		margin-left: auto
		margin-right: 0

@media screen and (max-width: 767px)
	.service__search
		padding-top: 30px
		padding-bottom: 50px
		&:before
			display: none
	.service__search__content
		box-sizing: border-box
		padding: 0 15px
	.service__search__column
		margin-top: 0px
		&.service__search__column--left
			display: none
		&.service__search__column--right
			width: 100%
	.service__search__textarea
		max-width: none
		text-align: center
	.service__search__title
		h2
			font-size: 26px		