.servicio-listado__content	
	background-color: #2f7de1
	overflow: hidden
	height: 856px
	.servicio--celular
		.slick-slider
			button
				display: none !important
.servicio-listado__wrap
	max-width: 1200px
	margin: auto
.servicio__box__title
	padding-top: 108px
	padding-bottom: 106px
	h2
		color: white
		font-size: 40px
		max-width: 380px
		font-family: $t-1
.box__imagen__slide
	position: relative
	img
		max-width: 80%
		display: block
		height: auto
.box__imagen__contenido
	position: absolute
	left: 0
	right: 0
	text-align: center
	bottom: 0
	top: 0
	margin: auto
	img
		max-width: 65%
		display: block
		height: auto
.servicio__box__imagen
	.service__search
		background-color: transparent
		&:before
			content: none
// slider
.servicios__box
	.servicio__box__item
		max-width: 50%
.servicio__box__slider
	display: flex

.servicio__box__slider
	display: flex
	flex-wrap: wrap
.servicio__slide__item
	width: 42%
	margin-left: 10px	
.servicio__slider__content
	.card__partner
		width: 100%
		min-height: 252px
	.card__partner__img
		height: 57px
		padding: 20px 25px
		border-bottom: none
		img
			max-width: 	100%
			width: 28px
			margin: 0
	.pmd-card-title
		h2
			font-size: 20px	
	.pmd-card
		margin-bottom: 10px	

// area-negocios
.servicio-listado__content--negocios
	background-color: #f0f3f6
.servicio--items--content
	padding-top: 105px				
.negocios__card
	width: 42%
	.card__mapa--text
		height: 150px
	.card__mapa--content
		width: 100%
.servicios__tittle
	text-align: center
	padding-top: 50px	
	padding-bottom: 50px	
	h2
		font-size: 40px	
		font-family: $t-1
	p
		font-size: 17px	
		max-width: 454px
		margin: auto
.flecha__slider--next
	position: absolute
	right: 0
	top: 0
	bottom: 0
	text-align: center
	margin: auto
.flecha__slider--prev
	position: absolute
	left: -60px
	transform: rotate(180deg)
	top: 0
	bottom: 0
	text-align: center
	margin: auto
.pm__icono-siguiente
	font-size: 16px
	color: $c-1
	text-align: right
	padding-right: 15px
	display: block
@media screen and (max-width: 980px)
	.servicio-listado__content
		height: auto
	.servicio__box__imagen
		display: none
	.servicios__box .servicio__box__item
		max-width: 100%
	.servicio--items--content
		padding-top: 0
	.servicio__slide__item
		width: 48%
		margin-left: 9px	
	.servicio__box__title
		padding-bottom: 26px
	.servicios__box
		padding-bottom: 130px
	.flecha__slider--next
		top: inherit
		bottom: -60px	
		left: 90px
	.flecha__slider--prev
		right: 0
		top: inherit
		bottom: -60px
@media screen and (max-width: 507px)
	.servicio__slide__item
		margin-left: 7px
		width: 47%
	.area__negocios__wrap
		.negocios__card
			flex-basis: inherit
	.negocios__card
		width: 100%



