.service__reports
	background: $blanco
.service__reports__content
	max-width: 1200px
	width: 100%
	position: relative
	padding-bottom: 100px
	margin: auto
	&:before
		content: ""
		width: 990px
		height: 1px
		background: #f0f3f6
		position: absolute
		left: 0
		right: 0
		bottom: 0
		margin: auto
.service__reports__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	margin-bottom: 70px
.service__reports__item
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	width: 50%
	padding-left: 8%
	padding-right: 3%
	box-sizing: border-box
.service__reports__item_img
	width: 180px
	margin: 0
	img
		display: block
		width: 100%
		height: auto
.service__reports__item_text
	width: calc(100% - 180px)
	line-height: 1.4
	color: $c-0
	font-family: $t-1
	font-size: 25px
	box-sizing: border-box
	padding-left: 30px
	p
		margin-bottom: 0
.service__reports__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center		
.service__reports__box__column
	width: 50%
.service__reports__box__img
	width: 375px
	margin-left: auto
	margin-right: 0
	img
		display: block
		width: 100%
		height: auto
.service__reports__box__text
	max-width: 500px
	width: 100%
	line-height: 1.4
	font-family: $t-1
	font-size: 30px
	box-sizing: border-box
	padding: 0 60px
	margin: auto
	p
		margin-bottom: 0
	strong
		color: $c-1
		font-weight: normal
.service__reports__block
	background: $blanco
	position: relative
	padding-top: 70px
	padding-bottom: 50px
	&:before
		content: ""
		display: block
		width: 1160px
		height: 1558px
		background: url('../img/service__capa--gris.png') top center no-repeat
		position: absolute
		top: -70px
		left: 0
		z-index: 2
.service__reports__block__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	max-width: 1200px
	width: 100%
	position: relative
	z-index: 2
	margin: auto
.service__reports__block__column
	width: 50%
.service__reports__block__textarea
	max-width: 340px
	width: 100%
	margin-left: 70px
	margin-right: auto
.service__reports__block__title
	h2
		color: $c-0
		font-family: $t-1
		font-size: 40px
.service__reports__block__text
	line-height: 1.4
	color: $c-0
	font-family: $t-0
	font-size: 17px
	margin-top: 30px
	margin-bottom: 70px
	p
		margin-bottom: 0
.service__reports__block__img
	width: 832px
	margin-left: -150px
	img
		display: block
		width: 100%
		height: auto

// responsive
@media screen and (max-width: 1460px)
	.service__reports
		position: relative
		z-index: 2
	.service__reports__items
		max-width: 960px
		width: 100%
		margin: auto
	.service__reports__item_img
		width: 120px
	.service__reports__item_text
		width: calc(100% - 120px)
		font-size: 22px
	.service__reports__box__img
		width: 270px
	.service__reports__box__text
		font-size: 22px
	.service__reports__block:before
		left: -10%

@media screen and (max-width: 1024px)
	.service__reports__content
		&:before
			width: 50%
	.service__reports__items
		max-width: 760px
	.service__reports__item_img
		width: 80px
	.service__reports__item_text
		width: calc(100% - 80px)
		font-size: 20px
	.service__reports__box__img
		width: 210px
		margin-right: 6%
	.service__reports__box__text
		font-size: 20px
	.service__reports__block__img
		width: auto
		margin-left: 0
	.service__reports__block__textarea
		max-width: 240px
	.service__reports__block__title
		h2
			font-size: 30px

@media screen and (max-width: 767px)
	.service__reports
		padding-top: 50px
	.service__reports__content
		overflow: hidden		
		padding: 0 15px
		padding-bottom: 150px
		&:before
			display: none
		&:after
			content: ""
			display: block
			width: 110%
			height: 110px
			background: #f0f3f6
			position: absolute
			bottom: -50px
			right: 0
			transform: rotate(8deg)
	.service__reports__items
		flex-direction: column
		max-width: 400px
		margin-bottom: 30px
	.service__reports__item
		width: 100%
		padding: 0
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
	.service__reports__item_img
		width: 60px
	.service__reports__item_text
		width: calc(100% - 60px)
		font-size: 18px
	.service__reports__box
		flex-direction: column
	.service__reports__box__column
		width: 100%
	.service__reports__box__img
		width: 180px
		margin: auto
		margin-bottom: 30px
	.service__reports__box__text
		font-size: 16px
		text-align: center
		padding: 0
	.service__reports__block
		background: #f0f3f6
		padding-top: 30px	
		&:before
			display: none
	.service__reports__block__content
		text-align: center
		padding: 0 15px
	.service__reports__block__column
		width: 100%
	.service__reports__block__title
		h2
			font-size: 26px
	.service__reports__block__textarea
		max-width: none
		width: 100%
		margin: auto
	.service__reports__block__img
		display: none
	.service__reports__block__button
		.button__icon--blanco
			background: $c-1
			color: $blanco
			box-shadow: none
			&:hover
				background: $c-1
				color: $blanco
				box-shadow: none
				&:before
					color: $blanco
					transform: none