.trabaja__wrap
	.banner__contact__table
		height: 365px 

	.general__contact__file__text 
		padding-bottom: 10px
		display: block

	.general__contact__form__wrap
		padding-top: 30px
		padding-bottom: 672px	

	.general__contact__form__right
		top: -200px	

@media screen and (max-width: 960px)
	.trabaja__wrap
		.banner__contact__table
			height: auto 

		.general__contact__file__text 
			padding-bottom: 10px
			display: block

		.general__contact__form__wrap
			padding-top: 0
			padding-bottom: 50px	

		.general__contact__form__right
			top: 0	