//blog detail banner
.blog__detail__banner__wrap
	display: table-cell
	width: 2000px
	height: 390px
	vertical-align: bottom
	background: $c-1
	
.blog__detail__banner__container
	max-width: 1240px
	margin: 0 auto
	padding: 30px 20px 35px 20px 
	box-sizing: border-box

.blog__detail__banner__title
	h2
		margin: 0
		font-size: 40px
		color: $c-8
		font-weight: normal
		font-family: $t-1
		line-height: 1.4

.blog__detail__banner__social
	margin-top: 50px
	ul 
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin-right: 15px
			a 
				font-size: 20px
				color: $c-8
				transition: all .2s linear
				@media screen and (min-width: 1025px)
					&:hover
						color: $blanco

@media screen and (max-width: 1200px)
	.blog__detail__banner__title
		h2
			font-size: 30px

@media screen and (max-width: 767px)
	.blog__detail__banner__title
		h2
			font-size: 22px

	.blog__detail__banner__wrap
		height: auto

	.blog__detail__banner__container
		padding: 100px 15px 50px 15px

//blog detail block2
.blog__detail__content__wrap
	padding-bottom: 70px

.blog__detail__content__container
	max-width: 1240px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	font-size: 0

.blog__detail__content__left
	display: inline-block
	vertical-align: top
	width: calc(100% - 390px)
	padding-right: 50px
	padding-top: 45px
	box-sizing: border-box

.blog__detail__content__content
	p
		font-size: 15px 
		font-family: $t-0
		color: $c-0
		margin-bottom: 30px
	img 
		max-width: 100%
		height: auto
		display: block
		margin-bottom: 30px

.blog__detail__content__right
	display: inline-block
	vertical-align: top
	width: 390px
	background: $blanco 
	position: relative
	top: -40px
	padding: 40px 30px
	box-sizing: border-box
	box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.1)

.blog__detail__content__right__title
	margin-bottom: 40px
	h3 
		font-size: 23px
		font-family: $t-1
		color: $c-0
		margin: 0
		line-height: 1.3

.blog__detail__content__right__form
	li 
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0

.blog__detail__right__foot
	margin-top: 30px
	font-size: 11px
	color: #757575
	font-family: $t-0
	p 
		margin: 0

.blog__detail__right__button
	text-align: right
	margin-top: 40px 

.blog__detail__left__charge__wrap
	display: flex
	align-items: center
	padding: 25px 0
	border-bottom: 1px solid #F1F1F1
	border-top: 1px solid #F1F1F1

.blog__detail__left__charge__left
	display: inline-block
	width: calc(100% - 70px)
	padding-right: 25px
	box-sizing: border-box

.blog__detail__left__date
	font-size: 12px
	display: block
	color: #9D9C9C
	margin-bottom: 7px

.blog__detail__left__charge__right
	width: 70px
	height: 70px
	display: inline-block
	border-radius: 100%
	overflow: hidden

.blog__detail__left__name 
	margin-bottom: 7px
	h3 
		font-size: 24px
		margin: 0
		font-family: $t-1

.blog__detail__left__charge
	display: block
	font-size: 14px
	color: $c-0

@media screen and (max-width: 1024px)
	.blog__detail__content__right
		top: 0

	.blog__detail__content__left
		padding-top: 0

	.blog__detail__content__wrap
		padding: 50px 0

@media screen and (max-width: 960px)
	.blog__detail__content__left
		width: 100%
		padding-right: 0

	.blog__detail__content__right
		width: 100%
		margin-top: 40px

@media screen and (max-width: 767px)
	.blog__detail__content__container
		padding: 0 15px

	.blog__detail__content__right
		padding: 40px 20px

	.blog__detail__content__wrap
		padding: 40px 0

	.blog__detail__left__name h3
		font-size: 18px

	.blog__detail__left__charge
		font-size: 13px


// blog detail related

.blog__detail__related
	background: #F0F3F6
	padding-top: 65px
	padding-bottom: 80px

.blog__detail__related__container
	max-width: 920px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	text-align: center

.blog__detail__related__title
	margin-bottom: 50px
	h3 
		margin: 0
		font-size: 30px
		color: $c-0 
		font-weight: normal
		font-family: $t-1

.blog__detail__related__items
	display: flex
	flex-wrap: wrap 

.blog__detail__related__item
	width: 48%
	margin: 0 1% 2% 1%
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	padding: 15px 
	box-sizing: border-box
	background: $blanco
	text-align: left
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.04)

.blog__detail__related__item__image
	width: 39%
	height: 88px
	background-position: center center 
	background-size: cover
	background-repeat: no-repeat

.blog__detail__related__item__info
	width: 61%
	padding-left: 15px
	box-sizing: border-box

.blog__detail__related__info__title
	h4
		font-weight: normal
		font-size: 14px
		margin: 0
		color: $c-0 
		font-family: $t-1
		line-height: 1.3

.blog__detail__related__info__date
	display: block
	font-size: 12px
	color: #9D9C9C
	margin-top: 18px

@media screen and (max-width: 1024px)
	.blog__detail__related
		padding: 50px 0

@media screen and (max-width: 767px)
	.blog__detail__related__container
		padding: 0 15px

	.blog__detail__related
		padding: 40px 0

	.blog__detail__related__title
		margin-bottom: 40px

	.blog__detail__related__item
		width: 100%
		margin: 0
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0

	.blog__detail__related__title h3
		font-size: 23px

