extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`../${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`../${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = ''
//- ---

//- Contenido
block content
	//- slider products
	section.slider__carrousel__item__slider
		.slider__carrousel__item__container
			.slider__carrousel__item__title__wrap
				.slider__carrousel__item__title
					.title__general__wrap.title__general--center
						.title__general__title
							h3 En Latinoamerica estamos más cerca de ti
			.slider__carrousel__item__slide
				.tab__carrousel__item__arrow__personalized_wrap
					.tab__carrousel__item__arrow__personalized_prev
						.button__icon--flecha.btn.pmd-btn-fab.btn-primary(href='#')
							i.icon-navigate_next.pmd-sm
					.tab__carrousel__item__arrow__personalized_next
						.button__icon--flecha.btn.pmd-btn-fab.btn-primary(href='#')
							i.icon-navigate_prev.pmd-sm
				ul.slider__carrousel__list__items.slider__carrousel__item--js
					-for (var i = 0; i < 5; i++)
						li.slider__carrousel__item
							div.card__mapa--content
								div.pmd-card.pmd-card-default.pmd-z-depth
									div.pmd-card-media
										img.img-responsive(width='1184', height='666', src="/assets/img/captura_mapa.png")
									div.card__mapa--title.pmd-card-title
										h2.pmd-card-title-text Santiago, Chile
									div.card__mapa--text.pmd-card-body
										p Zona de Retiro, en la calle Esmeralda 950
										p Piso 16.
										div.media-left
											div.card__mapa--icons
												div.mapa--icon
													i.icon-phone
												div.mapa--icontext
													span +54 11 6070010
											div.card__mapa--icons
												div.mapa--icon
													i.icon-email
												div.mapa--icontext
													span contacto@norte.digital
									div.card__mapa--link.pmd-card-actions
										a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Conoce la sede
	section.home__equipo__block2
		.home__equipo__block2__container
			.home__equipo__block2__left
				.title__general__wrap.title__general--left
					.title__general__title
						h3 Equipo multidisciplinado brindandote
					.title__general__text
						p  Toma decisiones empresariales más rápidas gracias a la información de los datos que brinda Google.
					.title__general__button
						a.button__azul.btn.btn-default(href='#') CONOCE AL EQUIPO
					.tab__carrousel__arrow__personalized_wrap
						.tab__team__item__arrow__personalized_prev
							.button__icon--flecha.btn.pmd-btn-fab.btn-primary
								i.icon-navigate_prev.pmd-sm
						.tab__team__item__arrow__personalized_next
							.button__icon--flecha.btn.pmd-btn-fab.btn-primary
								i.icon-navigate_next.pmd-sm
			.home__equipo__block2__right
				.home__equipo__block2__items
					ul.slider__carrousel__team--js
						-for (var i = 0; i < 6; i++)
							li.home__equipo__block2__item
								div.card__equipo
									div.card__equipo--content
										div.pmd-card.pmd-card-default.pmd-z-depth
											div.pmd-card-media
												img.img-responsive(width='1184', height='666', src="/assets/img/img_equipo_card.png")
											div.card__equipo--title.pmd-card-title
												h2.pmd-card-title-text Alberto Quiroja
											div.card__equipo--text.pmd-card-body
												p LATAM
											div.card__equipo--links.pmd-card-actions
												a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
												a.card__equipo--icon(href="mailto:direccion@correo.com")
													i.icon-email



//- js
append scripts 
	script(src=`../${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- slick slider item product
			var width__device= $(window).width();
			console.log(width__device);
			var slider__cant = $('.slider__carrousel__item').length;
			if(slider__cant > 3 || width__device < 960){
				$('.slider__carrousel__item__slider').addClass('slider__carrousel__item--active');
				$('.slider__carrousel__item--js').slick({
					slidesToShow: 3,
					slidesToScroll: 1,
					infinite: true,
					autoplay: true,
					prevArrow:'.tab__carrousel__item__arrow__personalized_prev',
					nextArrow:'.tab__carrousel__item__arrow__personalized_next',
					dots: false,
					responsive: [
						{
							breakpoint: 960,
							settings: {
								slidesToShow: 2,
								slidesToScroll: 1
							}
						},
						{
							breakpoint: 767,
							settings: {
								slidesToShow: 1,
								slidesToScroll: 1
							}
						}
					]
				});
			}
			

			//- slick slider item team 
			if(width__device < 961){
				$('.home__equipo__block2').addClass('slider__carrousel__item--active');
				$('.title__general__button').clone().appendTo('.home__equipo__block2__right');
				$('.slider__carrousel__team--js').slick({
					slidesToShow: 2,
					slidesToScroll: 1,
					infinite: true,
					autoplay: true,
					prevArrow:'.tab__team__item__arrow__personalized_prev',
					nextArrow:'.tab__team__item__arrow__personalized_next',
					dots: false,
					responsive: [
						{
							breakpoint: 480,
							settings: {
								slidesToShow: 1,
								slidesToScroll: 1
							}
						}
					]
				});
			}
		})