extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header__wrap--relative header__wrap--icon--verde'
//- ---

//- Contenido
block content
	.certificaciones__wrap
		.certificaciones__card__item
			div.certificaciones__card
				.title__general__wrap.title__general--center
					.title__general__title
						h3 Certificaciones Individuales
				div.certificaciones__content
					- for (var x = 0; x < 8; x++)
						div.certificaciones__content--card
							div.content__card
								div.content__card--img
									img(src="/assets/img/img_certificaciones.png")
								div.content__card--text
									p Certificado de aptitud de Google analytics
		.certificaciones__card__item
			div.certificaciones__card
				.title__general__wrap.title__general--center
					.title__general__title
						h3 Certificaciones Especializaciones para Empresas
				div.certificaciones__content
					- for (var x = 0; x < 4; x++)
						div.certificaciones__content--card
							div.content__card
								div.content__card--img
									img(src="/assets/img/img_certificaciones.png")
								div.content__card--text
									p Certificado de aptitud de Google analytics
	.certificaciones__bottom__wrap
		.certificaciones__bottom__container
			.certificaciones__bottom__title
					.title__general__wrap.title__general--center.title__general--white
						.title__general__title
							h3 En Latinoamerica estamos más cerca de ti
						.title__general__text
							p  Toma decisiones empresariales más rápidas gracias a la información de los datos que brinda Google.
			.certificaciones__items
				.certificaciones__item.certificaciones__item--one
						div.card__blog
							div.card__blog--content
								div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
									div.card__blog--media.pmd-card-media
										img.img-responsive(width='1184', height='666', src="/assets/img/img_blog_card.png")
									div.card__blog--text.pmd-card-body
										p 3 medidas para mejorar tus campañas de adwords
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src="/assets/img/img_equipo_card.png")
											span Abril 21, 2017
				.certificaciones__item.certificaciones__item--two
						div.card__blog
							div.card__blog--content
								div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
									div.card__blog--media.pmd-card-media
										img.img-responsive(width='1184', height='666', src="/assets/img/img_blog_card.png")
									div.card__blog--text.pmd-card-body
										p 3 medidas para mejorar tus campañas de adwords
										div.card__blog--fecha
											div.card__blog--imagen.avatar-list-img
												img(src="/assets/img/img_equipo_card.png")
											span Abril 21, 2017
			.certificaciones__button
				a.button__azul.btn.btn-default(href='#') Conoce el equipo

//- js
append scripts 
	script.
		$(()=>{
				
		})