extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header__wrap--relative header__wrap--icon--verde'
//- ---

//- Contenido
block content
	.mapa
		.mapa__container
			#mapa__container__view
			.mapa_container__info
				div.card__mapa--content
					div.pmd-card.pmd-card-default.pmd-z-depth
						div.pmd-card-media
							img.img-responsive(width='1184', height='666', src=`${STATIC_URL}img/captura_mapa.png`)
						div.card__mapa--title.pmd-card-title
							h2.pmd-card-title-text Cerca al corazón financiero de Lima
						div.card__mapa--text.pmd-card-body
							p Zona de Retiro, en la calle Esmeralda 950
							p Piso 16.
							div.media-left
								div.card__mapa--icons
									div.mapa--icon
										i.icon-phone
									div.mapa--icontext
										span +54 11 6070010
								div.card__mapa--icons
									div.mapa--icon
										i.icon-email
									div.mapa--icontext
										span contacto@norte.digital
						div.card__mapa--link.pmd-card-actions
							a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') COMO LLEGAR




//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			function initMap() {
				var $map = $( '#mapa__container__view');
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					//- styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('mapa__container__view'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"assets/img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});
			initMap()
			
		})