extends ./_common/base.pug

//- css
append css

//- body classs
block vars
	- var bodyClass = 'header__wrap--relative header__wrap--icon--verde'
//- ---

//- Contenido
block content
	section.solicita__wrap
		.solicita__container
			.solicita__left
				.solicita__left__items
					.solicita__left__item
						span.solicita__left__icon.icon-phone
						span.solicita__left__text Llámanos
						a.solicita__left__link(href="tel:655-267-0490") 655-267-0490
					.solicita__left__item
						span.solicita__left__icon.icon-message-b
						span.solicita__left__text Escríbenos
						a.solicita__left__link(href="mailto:peru@norte.digital") peru@norte.digital
			.solicita__right
				.solicita__form
					.solicita__form__title
						h3 Solicita Información
					form(action="")
						ul
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Nombre  y Apellidos*
										input(type='text', class='validate[required]')
								.general__input
									.general__input__inside
										label.general__input__label__inside Teléfono*
										input(type='text', class='validate[required]')
							li
								.general__input
									.general__input__inside
										label.general__input__label__inside Email*
										input(type='text', class='validate[required]')
								.general__input
									.general__input__inside
										label.general__input__label__inside Sitio Web*
										input(type='text', class='validate[required]')
						.solicita__foot
							p *campos obligatorios
						.solicita__button
							button.button__azul.btn.btn-default(href='#') Enviar

//- js
append scripts 
	script.
		$(()=>{

			
		})