extends ./_common/base.pug
block content
	section.banner__interna
		span.banner__interna__capa.banner__interna__capa--blanco
		//- span.banner__interna__capa.banner__interna__capa--azul
		figure.banner__interna__fondo(style=`background-image: url('../${STATIC_URL}img/banner__interna__fondo.jpg');`)
		article.banner__interna__content
			.banner__interna__textarea
				.banner__interna__title
					h1 Nos encontramos cerca al corazón financiero de Lima
				.banner__interna__text
					p Postly turns your photos into real, beautiful postcards personalize your efr.
	
