extends ./_common/base.pug

block content
	
	//- BUTTONS
	a.button__azul.btn.btn-default(href='#') Conoce el equipo

	a.button__icon.btn.pmd-btn-fab.btn-primary(href='#')
		i.icon-menu.pmd-sm
	
	a.button__icon--blanco.btn( href='#') Empieza a vender

	a.button__icon--flecha.btn.pmd-btn-fab.btn-primary(href='#')
		i.icon-navigate_next.pmd-sm

	a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Leer más

	//- ICONS
	div.redes__icon
		div.redes__icon
			i.youtube.icon-youtube
		div.redes__icon
			i.facebook.icon-facebook
		div.redes__icon
			i.twitter.icon-twitter
