extends ./_common/base.pug

block content
	.container.pt-5
		//- copiar a partir de aqui ------
		.card__partner
			.card__partner__box.pmd-card.pmd-card-default.pmd-z-depth
				//- Card media
				.pmd-card-media.card__partner__img
					img.img-responsive(src=`../${STATIC_URL}img/card-partner.png`, width='1184', height='666')
				//- Card body
				.pmd-card-title
					h2.pmd-card-title-text.card__partner__title Mercado Shops
				.pmd-card-body.card__partner__body
					| Tenemos alianza con mercado shops partner
				//- Card actions
				.pmd-card-actions
						a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') MÁS INFORMACIÓN