extends ./_common/base.pug

block content
	div.card__mapa
		div.card__mapa--content
			div.pmd-card.pmd-card-default.pmd-z-depth
				div.pmd-card-media
					img.img-responsive(width='1184', height='666', src="/assets/img/captura_mapa.png")
				div.card__mapa--title.pmd-card-title
					h2.pmd-card-title-text Santiago, Chile
				div.card__mapa--text.pmd-card-body
					p Zona de Retiro, en la calle Esmeralda 950
					p Piso 16.
					div.media-left
						div.card__mapa--icons
							div.mapa--icon
								i.icon-phone
							div.mapa--icontext
								span +54 11 6070010
						div.card__mapa--icons
							div.mapa--icon
								i.icon-email
							div.mapa--icontext
								span contacto@norte.digital
				div.card__mapa--link.pmd-card-actions
					a.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Conoce la sede