extends ./_common/base.pug

block content
	div.card__equipo
		div.card__equipo--content
			div.pmd-card.pmd-card-default.pmd-z-depth
				div.pmd-card-media
					img.img-responsive(width='1184', height='666', src="/assets/img/img_equipo_card.png")
				div.card__equipo--title.pmd-card-title
					h2.pmd-card-title-text Alberto Quiroja
				div.card__equipo--text.pmd-card-body
					p LATAM
				div.card__equipo--links.pmd-card-actions
					a.card__equipo--button.button__leer.btn.pmd-ripple-effect.btn-default(href='#') Linkedin
					a.card__equipo--icon(href="mailto:direccion@correo.com")
						i.icon-email