extends ./_common/base.pug

block content
	div.card__blog
		div.card__blog--content
			div.card__blog--responsive.pmd-card.pmd-card-default.pmd-z-depth
				div.card__blog--media.pmd-card-media
					img.img-responsive(width='1184', height='666', src="/assets/img/img_blog_card.png")
				div.card__blog--text.pmd-card-body
					p 3 medidas para mejorar tus campañas de adwords
					div.card__blog__footer
						div.card__blog--fecha
							div.card__blog--imagen.avatar-list-img
								img(src="/assets/img/img_card_blog2.png")
							span Abril 21, 2017