extends ./_common/base.pug

block content
	div.certificaciones__card
		div.certificaciones__content
			- for (var x = 0; x < 7; x++)
				div.certificaciones__content__card
					div.content__card
						div.content__card__img
							img(src="/assets/img/img_certificaciones.png")
						div.content__card__text
							p Certificado de aptitud de Google analytics