extends ./_common/base.pug

block content
	- for (var i = 1; i <= 5; i++)
		.g__chips__item
			a(href="tel:56226170490").g__chips__content
				figure.g__chips__img
					img(src=`../${STATIC_URL}img/g__chips__img__${i}.png`, width="30", height="30", alt="g__chips__" +i, title="g__chips__" +i)
				span.g__chips__text +56-2-2617-0490
			a(href="tel:56226170490").g-chips__link
				.g__chips__content
					figure.g__chips__img
						img(src=`../${STATIC_URL}img/g__chips__img__${i}.png`, width="30", height="30", alt="g__chips__" +i, title="g__chips__" +i)
					span.g__chips__text +56-2-2617-0490