extends ./_common/base.pug
//- btn
block content
	//- input no label
	.general__input
		.general__input__inside
			label.general__input__label__inside Nombre  y Apellidos*
			input(type='text', class='validate[required]')
	
	//- input file
	.general__input__file.general__input__file--js
		.general__input__inside
			input#file-input(type='file')
			label.general__input__file__label(for='file-input')
				span.general__input__file__text seleccione Archivo
				span.general__input__file__ico.icon-adjuntar

	//- select
	.general__input.general__input--select.general__input__icon--right
		.general__input__inside
			span.general__input__ico__right.icon-navigate_next
			label.general__input__label__inside País*
			select(name='')
				option(value="", selected='selected') 
				option(value="argentina") Argentina
				option(value="chile") Chile
				option(value="colombia") Colombia
				option(value="peru") Perú

	//- textarea
	.general__input.general__input--textarea
		.general__input__inside
			label.general__input__label__inside Nombre  y Apellidos*
			textarea#mensaje(class='validate[required]')


append scripts 
	script.
		$(function(){
			//focus para el input
			$('.general__input input, .general__input textarea, .general__input select, .general__input label').focusin(function() {
				$(this).parent().parent().addClass('active');
			});

			$('.general__input input, .general__input textarea, .general__input select, .general__input label').focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().parent().removeClass('active');
				};
			});

			$('.general__input input, .general__input textarea, .general__input select, .general__input label').each(function() {
				if ($(this).val() != "") {
					$(this).parent().parent().addClass('active');
				};x
			});
			//input file
			$('.general__input__file--js').each(function(k, el){
				$(el).find('input[type="file"]').change(function(e){
					var id_input = $(this).attr('id');
					$('label[for="'+id_input+'"] .general__input__file__text').html('').html( e.target.files[0].name);
				});
			});
		});		
