extends ./_common/base.pug

block content
	.title__general__wrap
		.title__general__title
			h3 Soy el titulo general y no tengo estilos extras.
		.title__general__text
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quae quas expedita, voluptates magni provident non facere quis, esse amet.

	br 
	br

	.title__general__wrap.title__general--center
		.title__general__title
			h3 Soy el titulo general, estoy centrado.
		.title__general__text
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quae quas expedita, voluptates magni provident non facere quis, esse amet.
	br 
	br 

	.title__general__wrap.title__general--left
		.title__general__title
			h3 Soy el titulo general, estoy a la izquierda.
		.title__general__text
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quae quas expedita, voluptates magni provident non facere quis, esse amet.
	
	br 
	br

	.title__general__wrap.title__general--left.title__general--white
		.title__general__title
			h3 Soy el titulo general, estoy a la izquierda y soy blanco.
		.title__general__text
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quae quas expedita, voluptates magni provident non facere quis, esse amet.