// BASE
// ----

// body
//     margin: 0
//     padding: 0
//     color: $text-color
//     font:
//         size: $font-size-base

// ul
//     margin: 0
//     padding: 0
//     list-style-type: none

// a
//     text-decoration: none
//     &:hover, &:focus
//         text-decoration: none
img
	width: 100%
	height: auto
.wrapper
	overflow: hidden