// BUTTONS

.button__azul
	height: 45px
	background-color: $c-5
	color: $blanco !important
	font-family: $t-3
	font-size: 14px
	line-height: 3.2
	padding: 0 18px
	box-shadow: none
	&:focus
		background-color: $c-5
	&:hover
		background-color: $c-6
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)

.button__icon
	background-color: $c-3
	box-shadow: none
	i
		font-size: 25px
		color: $blanco
	&:focus
		background-color: $c-3
	&:hover
		background-color: $c-7
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)

.button__icon--blanco
	height: 50px
	font-size: 15px
	font-family: $t-3
	display: inline-block
	vertical-align: middle
	transform: perspective(1px) translateZ(0)
	position: relative
	transition-duration: 0.1s
	padding: 16px 50px 16px 30px
	color: $c-0
	background-color: $blanco
	box-shadow: none
	&:focus
		background-color: $blanco
	&:before
		content: '\e909'
		font-size: 20px
		font-family: $icomoon
		position: absolute
		right: 1em
		line-height: 0.8
		transform: translateZ(0)
		transition-duration: 0.1s
		transition-property: transform
		transition-timing-function: ease-out
	&:hover
		background-color: $c-8
		color: $c-0
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
		&:before
			transform: translateX(4px)
			color: $c-0

.button__icon--flecha
	background-color: $blanco
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
	i
		font-size: 35px
		color: $c-0
	&:focus
		background-color: $blanco
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
	&:hover
		background: $blanco
		box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)

.button__leer
	background: $blanco
	color: $c-5
	font-family: $t-2
	font-size: 14px
	box-shadow: none
	&:hover
		background: $blanco
		color: $c-5
		opacity: 0.7
		box-shadow: none
	&:focus
		background: $blanco

// ICONS
.redes__icon
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	.redes__icon
		color: $c-2
		padding: 0px 10px
		.youtube
			font-size: 18px
		.facebook
			font-size: 17px
		.twitter
			font-size: 18px
		i
			cursor: pointer
			&:hover
				opacity: 0.8
