.banner__interna
	display: block
	width: 100%
	height: 100vh
	background: gray
	position: relative
.banner__interna__capa
	display: block
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 2
.banner__interna__capa--blanco
	background: url('../img/banner__interna__capa--blanco.png') center center no-repeat
	background-size: cover
.banner__interna__capa--azul
	background: url('../img/banner__interna__capa--azul.png') center center no-repeat
	background-size: cover
.banner__interna__fondo
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	left: 0
.banner__interna__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	max-width: 1200px
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 2
	box-sizing: border-box
	padding-bottom: 6%
	margin: auto
.banner__interna__textarea
	max-width: 700px
	width: 100%
	box-sizing: border-box
	padding: 0 6%
	margin: 0	
.banner__interna__title
	margin-bottom: 45px
	h1
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 50px
		margin-bottom: 0
.banner__interna__text
	line-height: 1.2
	color: $blanco
	font-family: $t-1
	font-size: 18px
	padding-right: 24%
	p
		margin-bottom: 0

// responsive
@media screen and (max-width: 1460px)
	.banner__interna__content
		padding-left: 30px
		padding-right: 30px
	.banner__interna__textarea
		max-width: 400px
		padding: 0
	.banner__interna__title
		margin-bottom: 30px
		h1
			font-size: 44px
	.banner__interna__text
		font-size: 16px

@media screen and (max-width: 767px)
	.banner__interna__capa--azul,
	.banner__interna__capa--blanco
		background-position: top left
	.banner__interna
		height: 550px
	.banner__interna__title
		h1
			font-size: 30px
	.banner__interna__text
		font-size: 15px			
