.block__chips
	background: #f0f3f6
	padding-bottom: 80px
.block__chips__content
	max-width: 1200px
	width: 100%
	position: relative
	z-index: 3
	box-sizing: border-box
	padding: 0 25px
	margin: auto
.block__chips__icono_phone
	width: 65px
	height: 65px
	line-height: 65px
	background: $blanco
	color: #2f7de1
	font-size: 27px
	text-align: center
	border-radius: 50%
	box-shadow: 0px 2px 7px 7px rgba(97,97,97,.1)
	margin-bottom: 30px
.block__chips__title
	margin-bottom: 40px
	h2
		color: $c-0
		font-family: $t-1
		font-weight: normal
		font-size: 40px
		margin-bottom: 0
.block__chips__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.block__chips__item
	margin-top: 25px
	margin-right: 2.57%
	&:last-child
		margin-right: 0

// responsive
@media screen and (max-width: 1460px)
	.block__chips__responsive
		padding-top: 80px

@media screen and (max-width: 1200px)
	.block__chips
		padding-bottom: 50px
	.block__chips__content		
		text-align: center
		padding: 0
	.block__chips__icono_phone
		width: 50px
		height: 50px
		line-height: 50px
		font-size: 20px
		margin-left: auto
		margin-right: auto
	.block__chips__title
		margin-bottom: 25px
		h2
			font-size: 30px
	.block__chips__items
		justify-content: center
	.block__chips__item
		margin-left: 1%
		margin-right: 1%
		&:last-child
			margin-right: 1%

@media screen and (max-width: 960px)
	.block__chips__content
		padding-left: 15px
		padding-right: 15px
	.block__chips__items
		max-width: 768px
		width: 100%
		margin: auto

@media screen and (max-width: 767px)
	.block__chips
		padding-bottom: 30px
	.block__chips__responsive
		position: relative
		padding-top: 30px
		padding-bottom: 50px
		&:before
			content: ""
			display: block			
			width: 110%
			height: 110px
			background: #f0f3f6
			position: absolute
			top: -50px
			left: -10px
			z-index: 4
			transform: rotate(8deg)
	.block__chips__content
		z-index: 5
	.block__chips__icono_phone
		width: 40px
		height: 40px
		line-height: 40px
		font-size: 18px
	.block__chips__title
		margin-bottom: 5px
		h2
			font-size: 26px

@media screen and (max-width: 480px)
	.block__chips__content
		padding-left: 10px
		padding-right: 10px
	.block__chips__items
		max-width: none