.card__blog
	width: 100%
	position: relative
	padding: 10px
.card__blog--content
	margin: auto
	box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, 0.12)
	&:hover
		box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2)
.card__blog--responsive
	margin-bottom: 0px
.card__blog--text
	padding-left: 25px
	padding-right: 25px
	padding-bottom: 100px
	margin-bottom: 0
	margin-top: 0
	p
		font-family: $t-1
		font-size: 17px
		color: $c-0
		padding-bottom: 20px
.card__blog__footer
	position: absolute
	width: 100%
	bottom: 0
	left: 0
	box-sizing: border-box
	padding-top: 18px
	padding: 0px 30px
	padding-bottom: 25px
.card__blog--fecha
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-top: 15px
	border-top: 1px solid $c-8
	.card__blog--imagen
		width: 40px
		height: 40px
		border-radius: 100%
		overflow: hidden
		img
			width: 100%
			height: auto
			border-radius: 50%
	span
		font-family: $t-1
		font-size: 12px
		color: $c-4
		margin-right: 0
@media screen and (max-width: 540px)
	.card__blog
		width: 100%
	.card__blog--content
		width: 100%
	.card__blog--responsive
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	.card__blog--media
		width: 50%
		padding: 10px
	.card__blog--text
		width: 50%
		padding: 10px 30px 10px 10px
		margin: 0
		p
			font-size: 13px
	.card__blog__footer
		position: relative
		padding: 0
	.card__blog--fecha
		border: 0
		.card__blog--imagen
			display: none
		span
			padding-left: 0
			margin-left: 0
@media screen and (max-width: 350px)
	.card__blog--text
		padding: 10px