.card__partner__box
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12)
	&:hover
		box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2)
.card__partner
	width: 342px
	min-height: 371px

.card__partner__img
	height: 177px
	padding: 55px 45px
	box-sizing: border-box
	border-bottom: solid 1px #F1F1F1

.card__partner__title
	font-family: $t-2
	font-size: 20px
	color: $c-0
	padding-top: 14px

.card__partner__body
	font-family: $t-0
	font-size: 16px
	color: $c-0