.card__equipo--content
	width: 354px
	margin: auto
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.12)
	&:hover
		box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2)
.card__equipo--title
	h2
		font-family: $t-1
		font-size: 24px
		color: $c-0
.card__equipo--text
	p
		font-family: $t-0
		font-size: 14px
		color: $c-0
.card__equipo--links
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	border-top: 1px solid $c-8
.card__equipo--button
	margin-left: 0
	margin-right: auto
	margin-bottom: auto
	margin-top: auto
.card__equipo--icon
	margin-left: auto
	margin-right: 15px
	margin-top: auto
	margin-bottom: auto
	i
		color: $c-1
		font-size: 20px

@media screen and (max-width: 540px)
	.card__equipo--title
		h2
			font-size: 22px
	.card__equipo--text
		p
			font-size: 13px	