p
	margin-bottom: 0px

.card__mapa--content
	width: 100%
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.12)
	&:hover
		box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2)
.card__mapa--title
	h2
		font-size: 24px
		font-family: $t-1
		color: $c-0
.card__mapa--text
	margin-bottom: 6px
	p
	font-family: $t-0
	font-size: 14px
.media-left
	padding-top: 10px
.card__mapa--icons
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.mapa--icon
	color: $c-1
.mapa--icontext
	padding-left: 10px
.card__mapa--link
	a
		font-size: 16px

@media screen and (max-width: 540px)
	.card__mapa--content
		width: 300px
	.card__mapa--title
		h2
			font-size: 22px
	.card__mapa--text
		p
			font-size: 13px