.certificaciones__card
	max-width: 1200px
	width: 100%
	margin: auto
	padding: 50px 0px
.certificaciones__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
.certificaciones__content__card
	width: 23.2%
	margin: 9px 9px
	background-color: $blanco
	text-align: center
	box-shadow: 0 2px 8px rgba(0,0,0,0.16)
.content__card
	max-width: 218px
	width: 100%
	margin: auto
	padding: 22px 0px
.content__card__img
	width: 40px
	height: 42px
	margin: auto
	margin-bottom: 10px
	overflow: hidden
.content__card__text
	p
		font-family: $t-1
		font-size: 18px
		color: $c-0
		margin-bottom: 0px
@media screen and (max-width: 1025px)
	.certificaciones__content__card
		width: 31%
@media screen and (max-width: 990px)
	.certificaciones__content__card
		width: 46.5%
@media screen and (max-width: 540px)
	.certificaciones__content__card
		width: 100%
	.content__card
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		max-width: 350px
		width: 90%
		margin: auto
		text-align: left
	.content__card__img
		width: 40px
		height: 40px
		padding-bottom: 0
	.content__card__text
		padding-left: 30px
		p
			font-size: 16px				