.g-chips__link
	display: inline-block	
.g__chips__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	background: $blanco
	border-radius: 25px
	padding: 12px 0
	padding-left: 15px
	padding-right: 20px
	margin: 0
.g__chips__img
	width: 30px
	height: 30px
	overflow: hidden
	border-radius: 50%
	margin: 0
	margin-right: 20px
	img
		display: block
		width: 100%
		height: auto
		border-radius: 50%
.g__chips__text
	display: block
	line-height: 1
	color: $c-0
	font-family: $t-1
	font-size: 16px
	margin: 0

// responsive
@media screen and (max-width: 1200px)
	.g__chips__content
		padding: 10px 15px
	.g__chips__img
		width: 25px
		height: 25px
		margin-right: 10px
	.g__chips__text
		font-size: 15px

@media screen and (max-width: 480px)
	.g__chips__content
		padding: 10px
	.g__chips__img
		width: 20px
		height: 20px
		margin-right: 5px
	.g__chips__text
		font-size: 13px