.general__input
	text-align: left
	input, select, textarea
		width: 100%
		height: 45px
		line-height: 45px
		box-sizing: border-box
		border: none
		border-radius: 0
		border-bottom: 1px solid #DCDCDC
		padding-left: 20px
		padding-right: 20px
		color: #757575
		font-family: $t-0
		font-size: 14px
		
// styles textarea
.general__input--textarea
	textarea
		height: 40px
		line-height: 1.1
	.general__input__inside
		padding-top: 25px
	
// styles select
.general__input--select
	position: relative
	select
		padding-right: 35px
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display: none
	.general__input__ico__right
		top: 30px
		font-size: 20px
		transform: rotate(90deg)

	
// Styles icons
.general__input__inside
	position: relative

.general__input__ico__left
	display: block
	position: absolute
	top: 0
	left: 10px
	font-size: 10px
	pointer-events: none
	z-index: 2
	color: #757575
	
.general__input__ico__right
	display: block
	position: absolute
	top: 0
	right: 10px
	font-size: 10px
	pointer-events: none
	z-index: 2
	color: #757575
	transition: all .6s ease-in-out
	
.general__input__icon--left
	input, select, textarea 
		padding-left: 35px
	
.general__input__icon--right
	input, select, textarea 
		padding-right: 35px
	
.general__input__icon--all
	input, select, textarea 
		padding-right: 35px
		padding-left: 35px
	
// input file
.general__input__file
	position: relative
	overflow: hidden	
	input[type="file"]
		display: none
	
.general__input__file__label
	background: #F6F6F6
	font-size: 14px
	font-family: $t-2
	padding: 16px 30px
	min-width: 180px
	&:before 
		display: none

.general__input__file__text
	color: $c-0
	font-family: $t-0
	font-size: 14px
		
.general__input__file__ico
	display: block
	position: absolute
	top: 0
	right: 10px
	font-size: 20px
	line-height: 50px
	pointer-events: none
	z-index: 2
	color: $c-0

// efects 
.general__input__label__inside
	display: block
	position: absolute
	top: 25px
	left: 0
	font-size: 16px
	font-family: $t-1
	cursor: auto 
	color: #757575
	pointer-events: none
	transition: all .3s ease-in-out
	z-index: 1

.general__input__inside
	position: relative
	padding-top: 10px
	&:before
		content: ""
		display: block
		position: absolute
		bottom: 0
		left: 0
		right: 0
		margin: auto
		width: 0
		height: 1px
		background: $c-1
		transition: all .3s ease-in-out
		z-index: 1

.general__input.active
	.general__input__inside
		&:before
			width: 100%
	.general__input__label__inside
		top: 0px
		font-size: 12px
		color: $c-1

			
			
