// styles fot title
.title__general__title
	h3
		font-size: 40px
		margin: 0
		color: $c-0 
		font-family: $t-1
		line-height: 1.2

.title__general__text
	margin-top: 13px
	p 
		margin: 0
		font-size: 17px
		font-family: $t-0
		color: $c-0
		line-height: 1.4

// styles for changes title general
.title__general--center
	text-align: center

.title__general--left
	text-align: left

.title__general--white
	.title__general__text
		p
			color: $blanco
	.title__general__title
		h3
			color: $blanco
			
@media screen and (max-width: 1200px)
	.title__general__title
		h3
			font-size: 35px

@media screen and (max-width: 1024px)
	.title__general__title
		h3
			font-size: 30px

@media screen and (max-width: 767px)
	.title__general__title
		h3
			font-size: 22px

	.title__general__text
		p 
			font-size: 15px
